<p>dividend-component works! (เงินปันผล)</p>
<div class="card" style="margin-right: 1%; padding: 3rem; border-color: #FFFFFF;">
    <div class="btn-group" style="width: max-content; gap: 0.5rem;">
        <button type="button" class="btn btn-login" (click)="onMemberDividend()">ใบเสร็จปันผลสมาชิกทั่วไป</button>
        <button type="button" class="btn btn-login" (click)="getReportMergeAnnouncement('export')">รายงาน(ประกาศรวม)</button>
        <button type="button" class="btn btn-login" (click)="getReportSplitAnnouncement('export')">รายงาน(ประกาศแยก)</button>
    </div>
</div>