<p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <div style="display: grid; justify-content: center; align-items: center;">
        <i class="uil uil-lock" style="font-size: 3rem; color: #FFFFFF; text-align: center;"></i> <br>
        <span style="font-size: 2rem; color: #FFFFFF;">ยังอยู่ในระหว่างการประมวลผล</span>
    </div>
</p-blockUI>

<div class="card-table">
    <p-panel #pnl>
        <div class="div-header">
            <p-chip label="เงินปันผล" styleClass="mr-2"></p-chip>
            <button type="button" class="btn btn-login" (click)="checkLoadImg()">ใบเสร็จปันผลสมาชิกทั่วไป</button>
        </div>
        <p-table responsiveLayout="stack" dataKey="id" [value]="dataDividendDetail" [loading]="loading"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ" selectionMode="single"
            [tableStyle]="{'max-width': '100%'}" [rowsPerPageOptions]="[10, 50, 100]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:6%">ลำดับที่</th>
                    <th style="width:15%">หน่วยงาน</th>
                    <th style="width:8%">รหัสพนักงาน</th>
                    <th style="width:15%">ชื่อพนักงาน</th>
                    <th style="width:10%">เลขที่บัญชีธนาคาร</th>
                    <th style="width:8%">ค่าหุ้นสะสม</th>
                    <th style="width:8%">ปันผลหุ้น</th>
                    <th style="width:8%">ดอกเบี้ยสะสม</th>
                    <th style="width:8%">ปันผลดอกเบี้ย</th>
                    <th style="width:8%">รวมปันผล</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stockDividend let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="stockDividend">
                    <td><span class="p-column-title">ลำดับที่</span>{{ i+1 }}</td>
                    <td><span class="p-column-title">หน่วยงาน</span>{{ stockDividend.departmentName }}</td>
                    <td><span class="p-column-title">รหัสพนักงาน</span>{{ stockDividend.employeeCode }}</td>
                    <td><span class="p-column-title">ชื่อพนักงาน</span>{{ stockDividend.fullName }}</td>
                    <td><span class="p-column-title">เลขที่บัญชีธนาคาร</span>{{ stockDividend.bankAccountReceivingNumber
                        }}</td>
                    <td style="color: #EA3A3D;"><span class="p-column-title">ค่าหุ้นสะสม</span>{{
                        stockDividend.stockAccumulate | number }}</td>
                    <td style="color: #1AD598;"><span class="p-column-title">ปันผลหุ้น</span>{{
                        stockDividend.stockDividend | number }}</td>
                    <td style="color: #1AD598;"><span class="p-column-title">ดอกเบี้ยสะสม</span>{{
                        stockDividend.cumulativeInterest | number }}</td>
                    <td style="color: #1AD598;"><span class="p-column-title">ปันผลดอกเบี้ย</span>{{
                        stockDividend.interestDividend | number }}</td>
                    <td style="color: #e440d6;"><span class="p-column-title">รวมปันผล</span>{{
                        stockDividend.totalDividend | number }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">ไม่พบข้อมูลเงินปันผลในฐานข้อมูล</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<!-- <div style="padding-top: 1rem;"></div> -->

<!-- <p-dialog [(visible)]="displayModalDividend" [modal]="true" [style]="{width: '30vw'}" [breakpoints]="{ '960px': '90vw' }" [draggable]="false" [resizable]="false"
    styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span style="font-size: 18px; font-weight: bold;">กำหนดอัตราปันผลหุ้น</span>
        </div>
    </ng-template>
    <div [formGroup]="formModelDividend">
        <div class="test-child" style="display: grid; justify-content: center; padding: 10px;">
            <div style="padding: 0rem 2rem 2rem 2rem;">
                <div style="display: grid; gap: 1rem; padding-top: 1rem;">
                    <div class="col-6">
                        <label class="block">ปันผลหุ้น</label>
                        <div style="display: flex;">
                            <p-inputNumber formControlName="stockDevidend" inputId="minmaxfraction" mode="decimal"
                            [required]="true" [maxlength]="6" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" ></p-inputNumber>
                            <div style="padding-left: 2rem; 
                            justify-content: center;
                            align-items: center;
                            display: flex;">
                                <span style="color: #363738;">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="block">ปันผลเงินกู้</label>
                        <div style="display: flex;">
                            <p-inputNumber formControlName="interestDevidend" inputId="minmaxfraction" mode="decimal"
                            [required]="true" [maxlength]="6" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" ></p-inputNumber>
                            <div style="padding-left: 2rem; 
                            justify-content: center;
                            align-items: center;
                            display: flex;">
                                <span style="color: #363738;">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="block">วงเงินที่ต้องใช้</label> <br>
                        <p-inputNumber formControlName="amountRequired" inputId="minmaxfraction" mode="decimal"
                        [required]="true" [maxlength]="12"></p-inputNumber>
                    </div>
                    <div class="col-12">
                        <label class="block">ยอดจัดสรร</label>
                        <input class="form-control" pInputText type="text" formControlName="allotmentAmount" maxlength="5"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                    </div>
                    <div class="col-12">
                        <label class="block">เงินคงเหลือ</label>
                        <input class="form-control" pInputText type="text" formControlName="balance" maxlength="5"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="calculateDividend()"  
        [disabled]="!formModelDividend.valid">คำนวน</button>
        <button type="button" class="btn btn-login2" (click)="clearDividend()">ล้างข้อมูล</button>
        <button type="button" class="btn btn-regis2" (click)="onCancleDividend()">ยกเลิก</button>
    </ng-template>
</p-dialog>

<p-toast></p-toast> -->