*{
	box-sizing:  border-box;
	font-family: 'Kanit', sans-serif;
}

.menubar{
    position: absolute;
    width: 280px;
    height: 900px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 5px;
}

.logo{
    padding: 5%;
}

hr{
    width: 85%;
    border-color:  #a3185b;
    margin-top: -5px;
    margin-bottom: -1px;
}

h5{
    margin-top: 12px; 
    color: #FE6BBA;
    font-weight: bold;
}

.logo .text span{
    color: #f78fb3;
}

img{
    width: 80px;
}

.nav-item .col-1{
    margin-top: 10px;
    margin-left: -2px;
}

.nav-item .col-10{
    margin-top: 5px;
    margin-left: -5px;
}

.nav-item{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 5px;
    margin-left: 15px;
}

path{
    fill: #747d8c;
}

.nav-item:hover{
    background: #FFF7FB;
    .iconify{
        font-size: 22px;
        color: #FE6BBA;
    }
    a.nav-link{
        color: #FE6BBA;
        font-size: 15px;
    }
    path{
        fill: #FE6BBA;
    }
}

li.active{
    background: #FFF7FB;
    .iconify{
        font-size: 22px;
        color: #FE6BBA;
    }
    a.nav-link{
        color: #FE6BBA;
        font-size: 15px;
    }
    path{
        fill: #FE6BBA;
    }
} 

li{
    .iconify{
        font-size: 22px;
        color: #747d8c;
    }
    a.nav-link{
        color: #747d8c;
        font-size: 15px;
    }
}

.searchbar{
    background: #fff;
    height: 60px;
    border-radius: 15px;
    width: 102%;
    margin-left: -15px;
}

.searchbar .row .col-3{
    margin: 10px;
}

.searchbar .row .col-8{
    margin-top: 50px;
    text-align: right;
}

input.search{
    border-radius: 10px;
    font-size: 13px;
    height: 40px;
    background: #F0F2F2;
    border: 0;
    padding: 0px 25px;
}

::placeholder {
    color: #747d8c;
}

.searchbar svg{
    transform: translate(340px, -33px);
}

.searchbar ul.bar{
    list-style-type: none;
    margin-left: 58%;
}

.searchbar ul.bar li {
    float: left;
    margin-left: 22px;
}

img.profile_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bar .dropdown-toggle::after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:"\f078";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    vertical-align: 0;
    min-width:16px;
    color: #747d8c;
}
    
.bar-menu{
    margin-top: -65%;
    margin-left: 580%;
}

.bar-menu2{
    margin-top: -25%;
    margin-left: 400%;
}

::ng-deep .p-menu {
    margin-top: 25px;
    font-size: 15px;
    margin-left: 23px;
    border-radius: 10px;
    
}

.div-foot{
    margin-top: 60%;
}

.count{
    margin-top: -1.5%;
    margin-left: 18.8%;
    z-index: 1;
}

.searchbar .message{
    path{
       fill: #FE6BBA;
    }
}