@import "primeicons/primeicons.css";
* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  min-height: 100vh;
}

.menubar {
  height: max-content;
  background: #ffffff;
  border-radius: 15px;
  padding-bottom: 20px;
}

.logo {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    margin-top: 12px;
    color: #fe6bba;
    font-weight: bold;
  }
}

hr.hr-menubar {
  width: 85%;
  border-color: #a3185b;
  margin-top: -5px;
  margin-bottom: -1px;
}

.div-hr-foot {
  display: flex;
  justify-content: center;
  hr.hr-foot {
    width: 50%;
    margin: 30px;
    color: var(--hr1-color);
  }
}

.logo .text span {
  color: #f78fb3;
}

img {
  width: 85px;
  margin-top: 10px;
}

li.nav-item {
  display: table;
  border-radius: 15px;
  margin: 5px 15px 0px 15px;
  padding: 10px 10px 10px 25px;

  i.uil {
    font-size: var(--icon1-size);
    color: var(--bg5-color);
  }

  a.nav-link {
    font-size: var(--fn1-size);
    color: var(--bg5-color);
  }
}

path {
  fill: #747d8c;
}

.nav-item:hover {
  background: #fff7fb;
  i.uil {
    color: #fe6bba;
  }
  a.nav-link {
    color: #fe6bba;
  }
  .nav-admin a.nav-link {
    color: #747d8c;
  }
  path {
    fill: #fe6bba;
  }
}

li.active {
  background: #fff7fb;
  i.uil {
    color: #fe6bba;
  }
  .nav-admin a.nav-link {
    color: #747d8c;
  }
  a.nav-link {
    color: #fe6bba;
  }
  path {
    fill: #fe6bba;
  }
}

.searchbar {
  background: #fff;
  height: 60px;
  border-radius: 15px;
}

input.search {
  border-radius: 10px;
  font-size: 13px;
  height: 40px;
  background: #f0f2f2;
  border: 0;
  padding: 0px 25px;
}

::placeholder {
  color: #747d8c;
}

img.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bar .dropdown-toggle::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  vertical-align: 0;
  min-width: 16px;
  color: #747d8c;
}

.bar-menu {
  margin-top: -65%;
  margin-left: 580%;
}

.bar-menu2 {
  margin-top: -25%;
  margin-left: 400%;
}

::ng-deep .p-menu {
  margin-top: 25px;
  font-size: 15px;
  border-radius: 10px;
}

.count {
  margin-left: 20px;
}

.searchbar .message {
  path {
    fill: #fe6bba;
  }
}
.nav-admin {
  margin: 10px 0px 0px -26px;
}

.nav-admin .nav .nav-items {
  position: relative;
  margin-top: 5px;
}

.nav-admin .nav .nav-items:after {
  background-color: #747d8c;
  content: "";
  height: 0.625rem;
  left: 2.375rem;
  opacity: 0.3;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 0.0625rem;
}

.nav-admin .nav .nav-items:first-child:after {
  height: 0.625rem;
}

.nav-admin .nav .nav-link {
  padding-bottom: 0.5625rem;
  padding-left: 3.625rem;
  padding-top: 0.5625rem;
  position: relative;
}

.nav-admin .nav .nav-link:before {
  background-color: #747d8c;
  border-radius: 0.375rem;
  content: "";
  height: 0.375rem;
  left: 2.25rem;
  opacity: 0.3;
  position: absolute;
  top: var(--bs-nav-link-padding-y)-0.1875rem 0.03125rem;
  width: 0.375rem;
}

.nav-admin .nav .nav-link.active:before,
.nav-admin .nav .nav-link.show:before {
  background-color: #fe6bba;
  opacity: 1;
}

@media screen and (max-width: 1366px) {
  .menubar {
    height: fit-content;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5%;

    .text {
      width: fit-content;
      margin-top: -5px;
    }

    img {
      width: 120px;
      margin-left: -35px;
    }

    h5 {
      margin-top: 12px;
      color: #fe6bba;
      font-weight: bold;
      font-size: 18px;
    }

    span {
      font-size: 16px;
    }

    hr {
      width: 100%;
      border-color: #a3185b;
      margin-top: -5px;
      margin-bottom: -1px;
    }
  }

  li.nav-item:hover {
    width: 86%;
    a.nav-link {
      font-size: 14px;
      margin-top: 2px;
    }
    .nav-admin a.nav-link {
      font-size: 14px;
      margin-top: 2px;
    }
  }

  li.nav-item {
    width: 86%;
    a.nav-link {
      font-size: 14px;
      margin-top: 2px;
    }
    .nav-admin a.nav-link {
      font-size: 14px;
      margin-top: 2px;
    }
  }

  li.active {
    width: 86%;
    a.nav-link {
      font-size: 14px;
      margin-top: 2px;
    }
    .nav-admin a.nav-link {
      font-size: 14px;
      margin-top: 2px;
    }
  }

  .nav-admin ul li a {
    width: 11rem;
  }
}

@media screen and (max-width: 1280px) {
  li.nav-item:hover {
    width: 88%;
    a.nav-link {
      font-size: 13px;
    }
    .nav-admin a.nav-link {
      font-size: 13px;
    }
  }

  li.nav-item {
    width: 88%;
    a.nav-link {
      font-size: 13px;
    }
    .nav-admin a.nav-link {
      font-size: 13px;
    }
  }

  li.active {
    width: 88%;
    .nav-admin a.nav-link {
      font-size: 13px;
    }
    a.nav-link {
      font-size: 13px;
    }
  }

  .nav-admin ul li a {
    width: 10rem;
  }
}