
*{
	box-sizing:  border-box;
	font-family: 'Kanit', sans-serif;
}

.deposit-main{
    background: #fff;
    height: 830px;
    border-radius: 15px;
    width: 118.7%;
}

.deposit-main svg{
    transform: translate(340px, -33px);
}

