<div class="doc">
    <p-chip label="เอกสารของกองทุนฯ" styleClass="mr-2"></p-chip>
    <div class="div-doc-pdf">
        <ng-container *ngFor="let document of documents; let i = index">
            <div class="doc-pdf">
                <img class="img-web" src="/assets/images/pdf.png" alt="Image" width="33">
                <img class="img-phone" src="/assets/images/pdf.png" alt="Image" width="20">
                <!-- <a #downloadLink [href]="document.path" download (click)="initiateDownload(i)">{{ document.label }}</a> -->
                <span class="pdf-text" (click)="downloadPdf(i)">{{ document.label }}</span>
            </div>
        </ng-container>
    </div>
</div>