<div class="grid col-12">
    <div style="display: flex;">
        <div class="grid col-9">
            <div class="col-12 div-col-3">
                <div style="display: flex; gap: 5px; padding-top: 1rem;">
                    <div class="col-3" style="margin-left: 0rem">
                        <div class="div-card">
                            <div style="display: flex;">
                                <div class="col-1 grid-check">
                                    <div class="div-img" style="background: #FFE1F1;">
                                        <i class="uil uil-chart" style="color: var(--icon1-color);"></i>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <span>หุ้น</span>
                                    <h4>{{ userInfo.stockAccumulate | number }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="div-card">
                            <div style="display: flex;">
                                <div class="col-1 grid-check">
                                    <div class="div-img" style="background: #D8D7F8;">
                                        <i class="uil uil-bill" style="color: var(--icon2-color);"></i>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <span>เงินกู้ </span>
                                    <h4>{{ userInfo.loanValue | number }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="div-card">
                            <div class="dc" style="display: flex;">
                                <div class="col-1 grid-check">
                                    <div class="div-img" style="background: #CCE9FF;">
                                        <i class="uil uil-users-alt" style="color: var(--icon3-color);"></i>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <span>ผู้รับผลประโยชน์</span>
                                        <div class="col-2">
                                            <h4>{{ countBeneficiary || 0 }}</h4>
                                        </div>
                                        <div class="col-2 people">
                                            <span>คน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="div-card">
                            <div class="dc" style="display: flex;">
                                <div class="col-1 grid-check">
                                    <div class="div-img" style="background: #D1F7EA;">
                                        <i class="uil uil-notes" style="color: var(--icon4-color);"></i>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <span>ภาระค้ำประกัน</span>
                                        <div class="col-2">
                                            <h4>{{ userInfo.guarantee | number }}</h4>
                                        </div>
                                        <div class="col-2 people">
                                            <span>คน</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new -->
            <div class="col-12" style="padding-top: 1rem;">
                <div class="div-new">
                    <p-chip label="ข่าวประชาสัมพันธ์" styleClass="mr-2"></p-chip>
                    <div class="row" style="margin-left: -10px;">
                        <div class="col-2" *ngFor="let news of listNews; let i = index;">
                            <div class="row" style="margin-top: -24px;">
                                <div>
                                    <label class="news">{{ pipeDateTHD(news.createDate) }}</label>
                                </div>
                                <div class="col-11">
                                    <img [src]="imgNewsList[i]" alt="logo" />
                                </div>
                            </div>
                            <div style="margin-top: 15px; display: flex; flex-direction: column;">
                                <span class="d-inline-block text-truncate topic">
                                    {{ news.name }}
                                </span>
                                <span class="d-inline-block text-truncate description" tooltipPosition="bottom"
                                    pTooltip="{{ news.description }}">
                                    {{ news.description }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="padding-top: 1rem;">
                <div class="div-table-stocks">
                    <p-chip label="รายการหุ้น" styleClass="mr-2"></p-chip>
                    <br>
                    <p-table dataKey="id" [value]="dataStockDetail" [loading]="loading"
                        [tableStyle]="{'max-width': '100%'}" styleClass="p-datatable-md">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:10%">ลำดับที่</th>
                                <th style="width:15%">เดือนที่ทำรายการ</th>
                                <th style="width:15%">ปีที่ทำรายการ</th>
                                <th style="width:15%">ชื่อรายการ</th>
                                <th style="width:10%">งวดที่</th>
                                <th style="width:15%">ยอดทำรายการ</th>
                                <th style="width:15%">หุ้นสะสม</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-stockDetail let-i="rowIndex">
                            <tr [pSelectableRow]="stockDetail" style="height: 5px;">
                                <td>{{ i+1 }}</td>
                                <td>{{ stockDetail.stockMonth }}</td>
                                <td>{{ stockDetail.stockYear }}</td>
                                <td>ชำระหนี้ประจำเดือน</td>
                                <td>{{ stockDetail.installment }}</td>
                                <td style="color: #EA3A3D;">{{ stockDetail.stockValue | number }}</td>
                                <td style="color: #1AD598;">{{ stockDetail.stockAccumulate | number }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">ไม่พบข้อมูลหุ้นในฐานข้อมูล</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <div class="grid col-3 grid-info">
            <div style="padding-left: 1rem; padding-top: 1rem;">
                <div class="card-profile">
                    <div class="triangle" *ngIf="!userInfo.passwordFlag">
                        <div class="group-tx">
                            <span class="tx1">กรุณา</span>
                            <span class="tx2">เปลี่ยนรหัสผ่าน</span>
                        </div>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div class="div-profile-img">
                            <img class="profile_img" [src]="profileImg()" />
                        </div>
                    </div>
                    <div style="padding-top: 0.5rem;"></div>
                    <p>{{ userInfo.firstName }} {{ userInfo.lastName }}</p>
                    <div class="div-detail" style="gap: 10px;">
                        <div class="col-5">
                            <span style="font-size: 15px; color: #8690a1;">เลขสมาชิก</span>
                            <div class="div-text">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 7V4C0 2.89543 0.390524 1.95262 1.17157 1.17157C1.95262 0.390524 2.89543 0 4 0H10C11.1046 0 12.0474 0.390524 12.8284 1.17157C13.6095 1.95262 14 2.89543 14 4V10C14 11.1046 13.6095 12.0474 12.8284 12.8284C12.0474 13.6095 11.1046 14 10 14H4C2.89543 14 1.95262 13.6095 1.17157 12.8284C0.390524 12.0474 0 11.1046 0 10V7Z"
                                        fill="#FE6BBA" />
                                </svg>
                                <span style="text-align: left;">{{ userInfo.employeeCode }}</span>
                            </div>
                        </div>
                        <div class="col-5">
                            <span style="font-size: 15px; color: #8690a1;">ตำเเหน่ง</span>
                            <div class="div-text">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 7V4C0 2.89543 0.390524 1.95262 1.17157 1.17157C1.95262 0.390524 2.89543 0 4 0H10C11.1046 0 12.0474 0.390524 12.8284 1.17157C13.6095 1.95262 14 2.89543 14 4V10C14 11.1046 13.6095 12.0474 12.8284 12.8284C12.0474 13.6095 11.1046 14 10 14H4C2.89543 14 1.95262 13.6095 1.17157 12.8284C0.390524 12.0474 0 11.1046 0 10V7Z"
                                        fill="#3A36DB" />
                                </svg>
                                <span style="text-align: left;" tooltipPosition="bottom"
                                    pTooltip="{{ userInfo.positionName }}">{{
                                    userInfo.positionName }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 1rem; padding-top: 1rem;">
                <div class="div-beneficiary">
                    <p-chip label="ผู้รับผลประโยชน์" styleClass="mr-2"></p-chip><br>
                    <ul style="margin-top: 20px;">
                        <li *ngFor="let beneficiary of arrayBeneficiary">
                            <div style="display: flex; align-items: center; margin-top: 10px;">
                                <div class="col-2">
                                    <img [src]="beneficiaryImg(beneficiary.gender)" />
                                </div>
                                <div class="col-9">
                                    <span>{{ beneficiary.prefix }} {{ beneficiary.firstName }} {{ beneficiary.lastName
                                        }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>