<!--<div style="display: flex; justify-content: space-between;">
     <div class="card">
        <div style="display: flex; justify-content: space-between;">
            <p-chip label="สิทธิ์การกู้" styleClass="mr-2"></p-chip>
            <button type="button" class="btn btn-login" (click)="initiateDownload()">ดาวน์โหลดเอกสารการกู้</button>
            <a #downloadLink href="/assets/pdf/เอกสารสิทธิ์การกู้.pdf" style="display: none;" download></a>
        </div>

        <p style="text-indent: 30px; margin-top: 20px; line-height: 30px; color: #60646b; font-size: 16px;">
            สามารถใช้งานของประเภท เงินกู้สามัญ สมาชิกที่มีความประสงค์จะขอกู้ยืมประเภทการกู้
            สามัญจะต้องอยู่ภายใต้หลักเกณฑ์และเงื่อนไขดังต่อไปนี้</p>

        <ul
            style="margin-left: 0px; line-height: 30px; font-weight: 500; color: #60646b; margin-top: -10px; font-size: 16px; list-style-type: none;">
            <li>1. วงเงินกู้ยืมและระยะเวลาส่งใช้เงินกู้ยืม</li>
            <li>2. หลักเกณฑ์การกู้เพิ่มเติม</li>
            <li>3. การค้ําประกัน</li>
            <li>4. การพิจารณาให้กู้เงิน คณะกรรมการจะพิจารณาให้กู้เงินโดยพิจารณาจาก</li>
            <li>5. ดอกเบี้ยเงินกู้</li>
            <li>6. ระบบสามารถตรวจสอบสิทธิ์กู้จริงของสมาชิกจากสลิปเงินเดือนได้</li>
            <li>7. ระบบสามารถกําหนดสิทธิ์เงินกู้ของสมาชิกเฉพาะรายได้</li>
            <li>8. สมาชิกผู้กู้ต้องมีเงินเดือนคงเหลือสุทธิเป็นไปตามเกณฑ์ที่กองทุนฯ กําหนด</li>
            <li>9. เอกสารการประกอบการกู้ยืม</li>
            <li>10. ระบบต้องสร้างเลขที่คําขอและเลขที่สัญญาเงินกู้ให้โดยอัตโนมัติ
                เมื่อมีการป้อนข้อมูลคําขอกู้หรืออนุมัติคํา
                ขอกู้ตามเงื่อนไขที่กําหนดได้</li>
            <li>11. การกําหนดอัตราดอกเบี้ย และวิธีการคํานวณดอกเบี้ย</li>
            <li>12. สามารถกําหนดรูปแบบการปัดเศษวงเงินกู้งวดผ่อนชําระ และดอกเบี้ยเงินกู้ได้</li>
            <li>13. การกําหนดหลักประกันของเงินกู้สามัญ</li>
            <li>14. การอนุมัติเงินกู้</li>
            <li>15. การจ่ายเงินกู้สามัญ (กู้หล่ม)</li>
        </ul>
    </div>
    <div style="padding-right: 0.5rem;"></div> 
   
</div> -->

<div class="card" style="margin-right: 1%;">
    <p-chip label="สิทธิ์การกู้เงินสามัญ" styleClass="mr-2"></p-chip>
    <div class="col-2" style="margin: 15px; color: #60646b; line-height: 30px;">
        <div style="display: flex; justify-content: space-between; width: 280px;">
            <label>สิทธิ์กู้เงินสามัญสูงสุด:</label>
            <span style="color: black;">{{ sumLoan | number }} <span style="margin-left: 10px;">บาท</span></span>
        </div>
    </div>
    <div class="col-10" style="margin-left: 15px; ">
        <div>
            <span style="color: black;">* แต่ไม่เกิน {{ 900000 | number }} บาท</span>
        </div>
        <div>
            <span style="color: black;">* หมายเหตุ สิทธิ์การกู้เงินสามัญ เป็นเพียงการวงเงินประมาณการเท่านั้น แต่สิทธิ์กู้เงินที่ได้จริง จะต้องคิด
                จากเงินเดือนคงเหลือ หากมีข้อสงสัยกรุณาติดต่อกองทุนสวัสดิการฯ</span>
        </div>
    </div>
    <div class="guarantee" *ngIf="!loanValueNull">
        <p style="color: #FE6BBA; background: #ffeef7; border-radius: 15px; width: 120px; text-align: center;">
            หักลบเงินกู้เดิม</p>
        <div style="padding-left: 30px; padding-top: 5px;">
            <div style="display: flex; justify-content: space-between; color: #60646b; margin-top: -15px;">
                <label class="col-6">เลขที่สัญญา:</label>
                <span class="col-6" style="color: black; text-align: right;">-<span
                        style="margin-left: 30px;">บาท</span></span>
            </div>
            <div style="display: flex; justify-content: space-between; color: #60646b;">
                <label class="col-6">หนี้เงินกู้คงเหลือ:</label>
                <span class="col-6" style="color: black; text-align: right;">{{ userInfo.loanBalance | number
                    }}<span style="margin-left: 30px;">บาท</span></span>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; color: #60646b; padding-left: 10px;">
            <label class="col-6" style="color: #000;">ประมาณการรับเงินสุทธิ:</label>
            <span class="col-6" style="color: #FE6BBA; text-align: right;">{{totalLoan | number}}<span
                    style="margin-left: 30px; color: #000;">บาท</span></span>
        </div>
    </div>
</div>