* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.card {
  border: 5px solid white;
  border-radius: 15px;
  width: 100%;
  background-color: white;
  padding: 2rem;
  margin-top: 10px;
  // height: 51.6rem;
  height: max-content;
}

// .card1{
//     border: 5px solid white;
//     border-radius: 20px;
//     // width: 100%;
//     background-color: white;
//     padding: 2rem;
// }
:host ::ng-deep .p-chart {
  margin-top: 100px;
  margin-bottom: 100px;
}

.guarantee {
  border: 2px solid #f0f2f2;
  border-radius: 15px;
  width: 500px;
  height: 200px;
  line-height: 35px;
  margin-top: 10px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 40px;
  img {
    width: 108px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #ffeef7;
  }
}

.btn {
  width: max-content;
  height: 34px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  color: #fff;
  background-color: #fe6bba;
}
