* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.row{
  display: flex;
  margin: 0 auto;
}

.row .col-3{
  width: 32.70%;
}

.card {
  border: 5px solid white;
  border-radius: 15px;
  background-color: white;
  padding: 2rem;
  margin-top: 10px;
  height: max-content;
  font-size: 15px;
}

:host ::ng-deep .p-chart {
  margin-top: 100px;
  margin-bottom: 100px;
}

.guarantee {
  border: 2px solid #f0f2f2;
  border-radius: 15px;
  width: 500px;
  height: 200px;
  line-height: 35px;
  margin-top: 10px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 40px;
}

.btn {
  width: max-content;
  height: 34px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  color: #fff;
  background-color: #fe6bba;
}

@media screen and (max-width: 1680px) {
  .row .col-3{
    width: 32.5%;
  }
}

@media screen and (max-width: 1600px) {
  .row .col-3{
    width: 32.4%;
  }
}

@media screen and (max-width: 1366px) {
  .row .col-3{
    width: 32.3%;
  }
}

@media screen and (max-width: 1280px) {
  .row .col-3{
    width: 32.2%;
  }
}