:host ::ng-deep .p-password input {
    width: 18rem
}

.p-inputtext {
    margin: 0;
    width: 18rem;
}

a {
    outline: none;
    border: none;
    color: #666666;
    transition: all .25s ease;
    text-decoration: none;
    background-color: transparent;
}
