<div [formGroup]="formModel" class="reset-pw">
    <p-chip label="เปลี่ยนรหัสผ่าน" styleClass="mr-2"></p-chip>
    <p>เปลี่ยนรหัสผ่านการเข้าสู้ระบบ กองทุนสวัสดิการพนักงานและลูกจ้าง เทศบาลนครเชียงใหม่</p>

    <div class="reset-data">
        <div class="col-12 mb-3">
            <div>
                <label for="oldPassword" class="block">รหัสผ่านเก่า <span style="color: red;">*</span></label>
            </div>
            <p-password class="form-control" class="password" maxlength="30" [toggleMask]="true"
                weakLabel="ความปลอดภัยระดับ ต่ำ"
                mediumLabel="ความปลอดภัยระดับ ปานกลาง"
                strongLabel="ความปลอดภัยระดับ สูง"
                formControlName="oldPassword" required="true" (keyup)="checkNewPass()">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="footer">
                    <p class="mt-2">ข้อบังคับความปลอดภัย</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>มีอักษรตัวเล็กอย่างน้อย 1 ตัว</li>
                        <li>มีอักษรตัวใหญ่อย่างน้อย 1 ตัว</li>
                        <li>มีตัวเลขอย่างน้อย 1 ตัว </li>
                        <li>มีความยาวอักษรอย่างน้อย 8 ถึง 30 ตัว</li>
                    </ul>
                </ng-template>
            </p-password>
            <!-- <em *ngIf="newPassValidation === true && formModel.get('oldPassword')?.value">
                <span style="color: red;">
                    กรุณากรอกรหัสผ่านใหม่ให้ถูกต้อง
                </span>
            </em> -->
        </div>
        <div class="col-12 mb-3">
            <div>
                <label for="newPassword" class="block">รหัสผ่านใหม่ <span style="color: red;">*</span></label>
            </div>
            <p-password class="form-control" class="password" maxlength="30" [toggleMask]="true"
                weakLabel="ความปลอดภัยระดับ ต่ำ"
                mediumLabel="ความปลอดภัยระดับ ปานกลาง"
                strongLabel="ความปลอดภัยระดับ สูง"
                formControlName="newPassword" required="true" (keyup)="checkNewPass()">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="footer">
                    <p class="mt-2">ข้อบังคับความปลอดภัย</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>มีอักษรตัวเล็กอย่างน้อย 1 ตัว</li>
                        <li>มีอักษรตัวใหญ่อย่างน้อย 1 ตัว</li>
                        <li>มีตัวเลขอย่างน้อย 1 ตัว </li>
                        <li>มีความยาวอักษรอย่างน้อย 8 ถึง 30 ตัว</li>
                    </ul>
                </ng-template>
            </p-password>
            <!-- <em *ngIf="newPassValidation === true && formModel.get('newPassword')?.value">
                <span style="color: red;">
                    กรุณากรอกรหัสผ่านใหม่ให้ถูกต้อง
                </span>
            </em> -->
        </div>
        <div class="col-12 mb-3">
            <div class="flex">
                <label for="confirmPassword" class="block">ยืนยันรหัสผ่านใหม่ <span style="color: red;">*</span></label>
            </div>
            <p-password class="form-control" class="password" maxlength="30" [toggleMask]="true"
                weakLabel="ความปลอดภัยระดับ ต่ำ"
                mediumLabel="ความปลอดภัยระดับ ปานกลาง"
                strongLabel="ความปลอดภัยระดับ สูง"
                formControlName="confirmPassword" required="true" (keyup)="checkNewPass2()">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="footer">
                    <p class="mt-2">ข้อบังคับความปลอดภัย</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>มีอักษรตัวเล็กอย่างน้อย 1 ตัว</li>
                        <li>มีอักษรตัวใหญ่อย่างน้อย 1 ตัว</li>
                        <li>มีตัวเลขอย่างน้อย 1 ตัว </li>
                        <li>มีความยาวอักษรอย่างน้อย 8 ถึง 30 ตัว</li>
                    </ul>
                </ng-template>
            </p-password>
            <br>
            <!-- <em *ngIf="newPass2Validation === true && formModel.get('confirmPassword')?.value">
                <span style="color: red;">
                    กรุณากรอกยืนยันรหัสผ่านใหม่ให้ถูกต้องเเละรหัสผ่านต้องตรงกัน
                </span>
            </em> -->
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-regis" (click)="clickChangePassword()">ยืนยันการเปลี่ยนรหัสผ่าน</button>
        </div>
    </div>
</div>

<p-confirmDialog #cd [appendTo]="'body'" position="top" [draggable]="false" [dismissableMask]="true"
    [style]="{width: '25vw'}">
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-regis" (click)="cd.accept()">ยืนยัน</button>
        <button type="button" class="btn btn-regis" (click)="cd.reject()">ยกเลิก</button>
    </ng-template>
</p-confirmDialog>

<p-toast></p-toast>