<div class="card-table">
    <div style="display: flex; justify-content: space-between;">
        <div class="card-header">
            <p-chip label="ตารางประวัติการส่งหุ้น" styleClass="mr-2"></p-chip>
            <p-tag icon="" severity="success">
                <span style="padding: 0px 10px;">เงินหุ้นสะสม</span>
                <span style="color: #8E3E63; font-weight: 500;">{{ empDetail.stockAccumulate | number }}</span>
                <span style="padding: 0px 10px;">บาท</span>
            </p-tag>
        </div>
        <div class="card-doc">
                <button type="button" class="btn btn-login" (click)="ondisplayModalMonthPDF('ใบเสร็จรับเงินของ', empDetail)">
                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                    <path style="fill:#E2E5E7;"
                        d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z" />
                    <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z" />
                    <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 " />
                    <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
	V416z" />
                    <g>
                        <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
		c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
		 M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z" />
                        <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
		c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z" />
                        <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
		h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
		c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z" />
                    </g>
                    <path style="fill:#CAD1D8;"
                        d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z" />
                </svg>
                ใบเสร็จรับเงิน</button>
            <button type="button" class="btn btn-login" (click)="searchDocumentV1PDF('export')">
                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                    <path style="fill:#E2E5E7;"
                        d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z" />
                    <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z" />
                    <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 " />
                    <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
	V416z" />
                    <g>
                        <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
		c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
		 M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z" />
                        <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
		c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z" />
                        <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
		h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
		c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z" />
                    </g>
                    <path style="fill:#CAD1D8;"
                        d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z" />
                </svg>
                ประวัติการส่งหุ้น</button>
            <button type="button" class="btn btn-login" (click)="searchDocumentV1PDF('download')">

                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                    <path style="fill:#E2E5E7;"
                        d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z" />
                    <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z" />
                    <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 " />
                    <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
	V416z" />
                    <g>
                        <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
		c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
		 M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z" />
                        <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
		c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z" />
                        <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
		h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
		c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z" />
                    </g>
                    <path style="fill:#CAD1D8;"
                        d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z" />
                </svg>
                ดาวน์โหลด</button>
        </div>
        <div class="card-menu-doc">
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
            <a class="dropdown-toggle" (click)="menu.toggle($event)">
                <i class="uil uil-ellipsis-v"></i>
            </a>
        </div>
    </div>
    <div style="font-family: Kanit, Noto Sans, Noto Sans Thai, sans-serif;">
        <p-table responsiveLayout="stack" dataKey="id" [value]="dataStockDetail" [loading]="loading" [paginator]="true"
            [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ" selectionMode="single"
            [tableStyle]="{'max-width': '100%'}" [rowsPerPageOptions]="[10, 20, 50, 100]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <!-- <th style="width:10%">ลำดับที่</th> -->
                    <th style="width:10%">งวดที่</th>
                    <th style="width:15%">เดือนที่ทำรายการ</th>
                    <th style="width:15%">ปีที่ทำรายการ</th>
                    <th style="width:15%">ชื่อรายการ</th>
                    <th style="width:15%">เงินส่งหุ้นรายเดือน</th>
                    <th style="width:15%">หุ้นสะสม</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stockDetail let-i="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="stockDetail">
                    <!-- <td><span class="p-column-title">ลำดับที่</span>{{ i+1 }}</td> -->
                    <td><span class="p-column-title">งวดที่</span>{{ stockDetail.installment <= 0 ? 1 :
                            stockDetail.installment }}</td>
                    <td><span class="p-column-title">เดือนที่ทำรายการ</span>{{ stockDetail.stockMonth }}</td>
                    <td><span class="p-column-title">ปีที่ทำรายการ</span>{{ stockDetail.stockYear }}</td>
                    <td><span class="p-column-title">ชื่อรายการ</span>ชำระหุ้นรายเดือน</td>
                    <td style="color: #3A36DB; font-weight: 500;"><span
                            class="p-column-title">เงินส่งหุ้นรายเดือน</span>{{
                        stockDetail.stockValue | number }}</td>
                    <td style="color: #6FAF00; font-weight: 500;"><span class="p-column-title">หุ้นสะสม</span>{{
                        stockDetail.stockAccumulate | number }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">ไม่พบข้อมูลหุ้นในฐานข้อมูล</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- <p-dialog
  [(visible)]="displayModalBill"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  [style]="{ width: '365px', 'max-height': '80dvh' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-col">
      <p class="text-lg">{{ dialogData.productName }}</p>
      <p class="text-2xl font-bold text-[#003F34]">{{ dialogData.totalPrice | number }} บาท</p>
      <div class="flex flex-row gap-2 text-lg">
        <p>วันที่ : {{ dialogData.createDatePayment | thaiDate }}</p>
        <p>เวลา : {{ dialogData.createDatePayment | time }} น.</p>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <img
      [src]="dialogData.slipImage"
      alt=""
      width="100%"
    />
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex flex-row">
      <div class="flex flex-1">
        <p-button
          (onClick)="rejectVisible = true"
          class="w-full"
          styleClass="btn-reject"
        >
          ปฎิเสธ
        </p-button>
      </div>
      <div class="flex flex-1">
        <p-button
          (onClick)="approve(dialogData.orderId!)"
          class="w-full"
          styleClass="btn-approve"
        >
          ตรวจสอบแล้ว
        </p-button>
      </div>
    </div>
  </ng-template>
</p-dialog> -->

<p-dialog [(visible)]="displayModalBill" [modal]="true" [style]="{width: '26vw'}"
    [breakpoints]="{ '1366px': '30vw', '1200px': '40vw', '1000px': '60vw', '500px': '80vw' }" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <!-- <div style="display: flex; align-items: center;"> -->
        <span style="font-size: 18px; font-weight: 500;">{{ headerName }}</span>
        <!-- <i class="bi bi-exclamation-circle" style="font-size: 1rem; padding-left: 0.5rem;" tooltipPosition="bottom"
                pTooltip="กรุณาเลือกเดือนที่จะดู {{headerName}}"></i> -->
        <!-- </div> -->
    </ng-template>
    <ng-template pTemplate="content">
        <div [formGroup]="formModelBill">
            <div class="test-child" style="display: flex; gap: 1rem; font-size: 14px;">
                <!-- <div class="col-12 " style="display: flex; justify-content: center;"> -->
                <div style="width: 100%;">
                    <label class="block">เดือน</label>
                    <select class="form-select" style="font-size: 14px;" aria-label="Default select example"
                        formControlName="month" required="true">
                        <option value="01">มกราคม</option>
                        <option value="02">กุมภาพันธ์</option>
                        <option value="03">มีนาคม</option>
                        <option value="04">เมษายน</option>
                        <option value="05">พฤษภาคม</option>
                        <option value="06">มิถุนายน</option>
                        <option value="07">กรกฎาคม</option>
                        <option value="08">สิงหาคม</option>
                        <option value="09">กันยายน</option>
                        <option value="10">ตุลาคม</option>
                        <option value="11">พฤศจิกายน</option>
                        <option value="12">ธันวาคม</option>
                    </select>
                </div>
                <!-- <div style="padding-right: 0.5rem;"></div> -->
                <div style="width: 100%;">
                    <label class="block">ปี</label>
                    <input class="form-control" type="text" style="font-size: 14px;" formControlName="year"
                        maxlength="4"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                        [disabled]="false" />
                </div>
            </div>
            <!-- </div> -->
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="footer-button">
            <button type="button" class="btn btn-login2" (click)="onDisplay()">ยืนยัน</button>
            <button type="button" class="btn btn-regis2" (click)="onCancle()">ยกเลิก</button>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>