.header-caption {
    display: flex;
    justify-content: center;
}

.card-table{
    border: 5px solid white;
    border-radius: 20px;
    width: 99%;
    background-color: white;
    padding: 2rem;
}

.btn{
    width: 140px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
}

.btn-login {
    color: #fff;
    background-color: #FE6BBA;
}