.header-caption {
    display: flex;
    justify-content: center;
}

.card-table{
    border: 5px solid white;
    border-radius: 20px;
    width: 99%;
    background-color: white;
    padding: 2rem;
}

.btn{
    width: 140px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
}

.btn-login {
    color: #fff;
    background-color: #FE6BBA;
}

.test-child{
    label {
      color: #747d8c;
    }
}

.btn-login2 {
    width: 140px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-regis2 {
    width: 140px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    color: #fe6bba;
    border-color: #fe6bba;
    margin-left: 40px;
  }