<div class="card-table">
    <p-chip label="ตารางประวัติการส่งหุ้น" styleClass="mr-2"></p-chip>
    <div style="padding-bottom: 1rem; display: flex; justify-content: space-between; margin-top: 1rem;">
        <div class="btn-group" style="width: 120px;"> 
            <button type="button" class="btn btn-login" (click)="onPrintReceiptMakePdf()">ใบเสร็จรับเงิน</button>
        </div>
        <div class="btn-group"> 
            <button type="button" class="btn btn-login" (click)="searchDocumentV1PDF('export')">ประวัติการส่งหุ้น</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-login" (click)="searchDocumentV1PDF('download')">ดาวน์โหลด</button>
        </div>
    </div>
    <div style="font-family: 'Kanit';">
        <p-table dataKey="id" [value]="dataStockDetail" [loading]="loading" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
            selectionMode="single" [tableStyle]="{'max-width': '100%'}" [rowsPerPageOptions]="[10, 50, 100]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">ลำดับที่</th>
                    <th style="width:15%">เดือนที่ทำรายการ</th>
                    <th style="width:15%">ปีที่ทำรายการ</th>
                    <th style="width:15%">ชื่อรายการ</th>
                    <th style="width:10%">งวดที่</th>
                    <th style="width:15%">ยอดทำรายการ</th>
                    <th style="width:15%">หุ้นสะสม</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stockDetail let-i="rowIndex">
                <tr [pSelectableRow]="stockDetail">
                    <td>{{ i+1 }}</td>
                    <td>{{ stockDetail.stockMonth }}</td>
                    <td>{{ stockDetail.stockYear }}</td>
                    <td>ชำระหนี้ประจำเดือน</td>
                    <td>{{ stockDetail.installment }}</td>
                    <td style="color: #EA3A3D;">{{ stockDetail.stockValue }}</td>
                    <td style="color: #1AD598;">{{ stockAccumulate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div style="padding-top: 1rem;"></div>
<!-- Admin  -->
<div class="card-table" *ngIf="admin">
    <p-chip label="ผู้ดูแลระบบ (Admin)" styleClass="mr-2"></p-chip>
    <p-toast></p-toast>
    <div style="padding-bottom: 0.5rem; padding-top: 1.5rem; display: flex; justify-content: space-between;">
        <div class="btn-group" style="width: 25rem;"> 
            <button type="button" class="btn btn-login" style="width: 200px;"(click)="updateStocktoMonth()">เรียกเก็บหุ้นรายเดือน</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-login" (click)="getGrandTotal()">สรุปยอดรวม</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-login" (click)="documentInfoAll()">ข้อมูลสมาชิก</button>
        </div>
        <!-- <div>
            <button type="button" class="btn btn-login" style="width: 100%;"
                (click)="updateStocktoMonth()">เรียกเก็บหุ้นรายเดือน</button>
        </div> -->
        <div class="btn-group" style="width: 23.5rem;"> 
            <button type="button" class="btn btn-login" style="width: 60%;" (click)="searchDocumentV1All('export')">รวมประวัติการส่งหุ้นของสมาชิก</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-login" (click)="searchDocumentV1All('download')">ดาวน์โหลด</button>
        </div>
    </div>

    <p-table #dt2 [value]="dataStock" dataKey="id" editMode="row" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50, 100]" [loading]="loading" [paginator]="true" selectionMode="single"
        currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
        [tableStyle]="{'max-width': '100%'}" [selectionPageOnly]="true"
        [globalFilterFields]="['employeeCode', 'firstName', 'lastName', 'stockValue', 'stockAccumulate' ]">
        <ng-template pTemplate="caption">
            <div class="flex" style="display: flex; justify-content: space-between;">
                <span style="margin-top: 10px; font-weight: normal; font-size: 18px;"> ตารางการส่งหุ้นของสมาชิก (Stock History Of Member) </span>
                <span class="p-input-icon-left ml-auto">
                    <i class="bi bi-search" style="color: #979797; display: flex;"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="ค้นหา"
                        style="width: 10rem; border-radius: 10px; height: 45px; font-size: 15px; background-color: #f0f2f2; border: 0px;" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">ลำดับที่</th>
                <th style="width:10%">รหัสพนักงาน</th>
                <th style="width:10%">ชื่อ</th>
                <th style="width:10%">นามสกุล</th>
                <th style="width:10%">เงินหุ้นส่งรายเดือน</th>
                <th style="width:10%">หุ้นสะสม</th>
                <th style="width:10%">แก้ไข</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-editing="editing" let-dataStock let-ri="rowIndex">
            <tr [pEditableRow]="dataStock">
                <td>{{ dataStock.id }}</td>
                <td>{{ dataStock.employeeCode }}</td>
                <td>{{ dataStock.firstName }}</td>
                <td>{{ dataStock.lastName }}</td>
                <td style="color: #EA3A3D;">
                    <p-cellEditor style="display: flex; margin: -10px; justify-content: center;">
                        <ng-template pTemplate="input" style="height: 0;">
                            <p-inputNumber [(ngModel)]="dataStock.stockValue" inputId="minmaxfraction" mode="decimal"
                                [required]="true" [minFractionDigits]="0" [maxFractionDigits]="2"
                                style="height: 35px; text-align: center;"></p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{dataStock.stockValue}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="color: #1AD598;">{{ dataStock.stockAccumulate }}</td>
                <td style="display: flex; justify-content: center;">
                    <div class="flex align-items-center justify-content-center gap-2"
                        style="height: 25px; display: flex;">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            (click)="onRowEditInit(dataStock)" class="p-button-rounded p-button-text"
                            tooltipPosition="top" pTooltip="เเก้ไข"></button>
                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-file-edit"
                            (click)="onRowEditStatusEmp(dataStock)" class="p-button-rounded p-button-text"
                            tooltipPosition="top" pTooltip="เปลี่ยนสถานะสมาชิก (กรณีเสียชีวิต)"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSave(dataStock)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancel(dataStock, ri)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div style="padding-top: 2rem;"></div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '28vw'}" [draggable]="false" [resizable]="false"
    styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span style="font-size: 18px; font-weight: bold;">เรียกเก็บหุ้นรายเดือน</span>
            <i class="pi pi-info-circle" style="font-size: 1rem; padding-left: 0.5rem;" tooltipPosition="bottom"
                pTooltip="เปลี่ยนแปลงการส่งหุ้นรายเดือนของสมาชิกทั้งหมด"></i>
        </div>
    </ng-template>
    <div [formGroup]="formModelStock">
        <div class="test-child" style="display: grid; justify-content: center; padding: 10px;">
            <div class="col-12 " style="display: flex; justify-content: center;">
                <div class="col-6">
                    <label class="block">เดือนที่ส่งหุ้น</label>
                    <input class="form-control" type="text" formControlName="stockMonth" [disabled]="true" />
                </div>
                <div style="padding-right: 0.5rem;"></div>
                <div class="col-6">
                    <label class="block">ปีที่ส่งหุ้น</label>
                    <input class="form-control" type="text" formControlName="stockYear" [disabled]="true" />
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="onupdateStockToMonth()"
            [disabled]="checkNull">ยืนยัน</button>
        <button type="button" class="btn btn-regis2" (click)="onCancle()">ยกเลิก</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayLoadingPdf" [modal]="true" [style]="{ width: '30vw'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 18px; font-weight: bold;">รายงาน</span>
    </ng-template>
    <div style="display: flex;">
        <!-- <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i> -->
        <span>
            โปรดรอสักครู่ PDF อาจใช้เวลาในการเเสดงข้อมูล ประมาณ 1-5 นาที 
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="displayLoadingPdf = false" type="button" class="btn btn-login2" >ตกลง</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayStatusMember" [modal]="true" [style]="{ width: '30vw', height: '13vw'}" [draggable]="false" [resizable]="true">
    <ng-template pTemplate="header">
        <span style="font-size: 18px; font-weight: bold;">เปลี่ยนสถานะสมาชิก (กรณีเสียชีวิต)</span>
    </ng-template>
    <div style="display: grid;
                justify-content: center;
                align-items: start;
                justify-items: center;">
        <div style="position: absolute; z-index: 5;">
            <p-dropdown [options]="employeeStatusList" [(ngModel)]="employeeStatus" optionLabel="name"></p-dropdown>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="onChangeStatusEmp()">ยืนยัน</button>
        <button type="button" class="btn btn-regis2" (click)="onCancleStatusEmp()">ยกเลิก</button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>