.header-caption {
  display: flex;
  justify-content: center;
}

.card-table {
  border: 5px solid white;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-doc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .btn {
    width: fit-content;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-login {
    color: #652d47;
    border: 1px solid #652d47;
    display: flex;
    gap: 5px;
  }
}

.test-child {
  label {
    color: #6b7280;
  }
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  padding: 10px 0 0 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  button {
    margin: 0;
  }
}

.footer-button {
  display: flex;
  .btn {
    height: 40px;
    font-size: 14px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btn-login2 {
    font-weight: 500;
    font-size: 14px;
    height: 45px;
    color: #fff;
    background-color: #fe6bba;
    border-bottom-left-radius: 6px;
  }

  .btn-regis2 {
    font-weight: 500;
    font-size: 14px;
    height: 45px;
    color: #fe6bba;
    background-color: #f3f2ed;
    border-bottom-right-radius: 6px;
  }
}

:host ::ng-deep p-celleditor p-inputNumber span input {
  width: 120px;
}

:host ::ng-deep p-paginator div {
  font-size: 14px;
  justify-content: flex-end;

  p-dropdown div .p-dropdown-trigger {
    display: flex;
    justify-content: center;
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: none;
  font-weight: normal;
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 14px;
  padding: 0.8rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  background: none;
  border-top: none;
}

:host ::ng-deep .p-datatable .p-paginator-bottom,
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  font-size: 14px;
  color: #495057;
  border-width: 0;
  font-weight: 300;
}

:host ::ng-deep .p-paginator .p-dropdown {
  height: 2.8rem;
  width: 5rem;
}

:host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
  font-size: 14px;
  font-family:
    Kanit,
    Noto Sans,
    Noto Sans Thai,
    sans-serif;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  width: 2.5rem;
  span {
    margin-top: 3px;
  }
}

:host ::ng-deep .p-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.6rem;
  padding: 0.3rem 0.4rem !important;
  border-radius: 15px !important;
}

:host ::ng-deep .p-tag.p-tag-success {
  background-color: #ffe1f0;
  color: #fe6bba;
  font-weight: normal;
}

.card-header {
  display: flex;
  grid-gap: 10px;
}

// .card-doc {
//   padding-bottom: 1rem;
//   display: flex;
//   justify-content: space-between;
// }

.card-menu-doc {
  display: none;
}

a.dropdown-toggle {
  text-decoration: none;
  font-size: 14px;
  color: #222121;
}

.dropdown-toggle::after {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .card-doc {
    display: none;
  }

  .card-menu-doc {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .card-header {
    display: flex;
    flex-direction: column;
  }
}
