.div-background {
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  background: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  display: flex;
  align-items: center;
  padding: 2.5rem;
  gap: 50px;
}

.div-background-profile {
  display: flex;
  z-index: 100;
  margin-top: 10rem;
  gap: 2rem;
  width: 100%;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f8f2f2;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 6px solid #fff;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 14px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder input.uploadProfileInput:focus {
  display: none;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-name {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 1;
  position: absolute;
  width: -webkit-fill-available;
  input.name {
    font-size: 26px;
    font-weight: 500;
  }

  input.code {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

.header-name .div-text {
  background: #dee2e6;
  height: 40px;
  border-radius: 10px;
  width: 80px;
  padding: 5px;
  color: #000;
  font-size: 16px;
  display: flex;
}

.header-name .div-text input {
  text-align: center;
}

.div-profile-button {
  margin-top: 3.5rem;
  width: 100%;
  text-align: -webkit-right;
  z-index: 2;
}

.div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 10px;

  .btn {
    width: fit-content;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  .btn-login {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-regis {
    color: #fe6bba;
    background-color: #f3f2ed;
    border-color: #f3f2ed;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 10px;

  .btn {
    width: fit-content;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .btn-login1 {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-login2 {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-edit {
    color: #fe6bba;
    border-color: #f3f2ed;
    background-color: #f3f2ed;
    padding: 0 2rem;
  }
}

.div-profile {
  width: 100%;
  height: fit-content;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 7rem 3rem 2rem 3rem;
}

.div-profile label {
  font-size: 14px;
  color: #747d8c;
  font-weight: 300;
}

.div-profile input {
  font-size: 14px;
  height: 40px;
}

.family-body select {
  font-size: 14px;
  height: 40px;
}

.div-calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:host ::ng-deep .birthday-calendar .p-inputtext {
  height: 40px;
  font-size: 14px;
  font-family:
    Kanit,
    Noto Sans,
    Noto Sans Thai,
    sans-serif;
}

.div-profile-body {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.div-profile-body-text {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.div-profile-body-text label {
  font-size: 14px;
  color: #747d8c;
}

.div-profile-body-text input {
  font-size: 14px;
  height: 40px;
}

.div-profile-body-text select {
  font-size: 14px;
  height: 40px;
}

:host ::ng-deep {
  .p-calendar {
    width: 100%;
    input {
      height: 40px;
      width: 100%;
      font-family:
        Kanit,
        Noto Sans,
        Noto Sans Thai,
        sans-serif;
    }
  }
}

.div-profile-doc {
  width: 40%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.doc-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

span {
  color: #6b7280;
  // margin-top: 20px;
}

.pic-holder-doc {
  text-align: center;
  position: relative;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 4px solid #f0f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: center;
}

.pic-holder-doc .pic-doc {
  width: 100%;
  height: 100%;
}

.pic-holder-doc .upload-file-block,
.pic-holder-doc .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 14px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  gap: 1rem;
}

.pic-holder-doc .uploadProfileInput {
  margin-top: -50px;
}

.pic-holder-doc:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder-doc input.uploadProfileInput:focus {
  display: none;
}

.text-center {
  border-radius: 50px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.text-center:hover {
  background-color: #4e4e4e;
}

.galleria-img {
  width: 120%;
  display: block;
}

.div-profile-family {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.card-family {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.family-header {
  display: flex;
  justify-content: space-between;
}

.family-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.family-body input {
  width: 100%;
  font-size: 14px;
  height: 40px;
}

.family-body label {
  font-size: 14px;
  color: #747d8c;
}

:host ::ng-deep .beneficiary-calendar .p-inputtext {
  height: 40px;
  font-size: 14px;
  font-family:
    Kanit,
    Noto Sans,
    Noto Sans Thai,
    sans-serif;
}

:host ::ng-deep .p-button:enabled:hover {
  background: #fe6bba;
  color: #ffffff;
  border-color: #fe6bba;
}

:host ::ng-deep .p-button {
  background: #fe6bba;
  color: #ffffff;
  border-color: #fe6bba;
}

:host ::ng-deep .p-carousel .p-carousel-indicators {
  padding: 1rem;
  visibility: hidden;
}

.div-profile-child {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.div-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
}

.div-profile-plus-child {
  border: 2px solid #f0f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
}

.div-child-body {
  background: #fff;
  border-radius: 10px;
  height: fit-content;
  border: 2px solid #f0f2f2;
  padding: 1.5rem;
}

.div-child-header {
  display: flex;
  justify-content: space-between;
}

.div-child-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.div-child-text label {
  font-size: 14px;
  color: #747d8c;
}

.add-child {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding: 0px 20px;
}

.add-child input {
  font-size: 14px;
  height: 40px;
}

.add-child select {
  font-size: 14px;
  height: 40px;
}

.add-child label {
  font-size: 14px;
  color: #747d8c;
}

:host ::ng-deep .p-datepicker table td {
  padding: 0rem;
}

.family-header .btn {
  width: 100%;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 1rem;
}

.div-btn-ch {
  width: fit-content;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .btn {
    width: fit-content;
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .btn-login {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-regis {
    color: #fe6bba;
    border-color: #f3f2ed;
    background-color: #f3f2ed;
  }
}

.btn-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;

  .btn {
    width: 60px;
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-login {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-regis {
    color: #fe6bba;
    border-color: #f3f2ed;
    background-color: #f3f2ed;
  }
}

:host ::ng-deep .custom-calendar input {
  height: 45px;
  width: 310px;
  font-family: "Kanit", sans-serif;
}

::ng-deep .p-dialog {
  .p-dialog-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    .header-name {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      span {
        font-size: 14px;
        font-weight: bold;
      }
      i {
        font-size: 14px;
        font-weight: normal;
        color: #5d6066;
      }
    }
  }

  // .p-dialog-footer {
  //   border-bottom-right-radius: 6px;
  //   border-bottom-left-radius: 6px;
  // }

  // .btn-login2 {
  //   width: 140px;
  //   font-weight: 500;
  //   font-size: 14px;
  //   height: 40px;
  //   color: #fff;
  //   background-color: #fe6bba;
  // }

  // .btn-regis2 {
  //   width: 140px;
  //   font-weight: 500;
  //   font-size: 14px;
  //   height: 40px;
  //   color: #fe6bba;
  //   border-color: #fe6bba;
  //   margin-left: 40px;
  // }
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  padding: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  button {
    margin: 0;
  }
}

.footer-button {
  display: flex;
  .btn {
    height: 40px;
    font-size: 14px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btn-login2 {
    font-weight: 500;
    font-size: 14px;
    height: 45px;
    color: #fff;
    background-color: #fe6bba;
    border: 1px solid #fe6bba;
    border-bottom-left-radius: 6px;
  }

  .btn-regis2 {
    font-weight: 500;
    font-size: 14px;
    height: 45px;
    color: #fe6bba;
    background-color: #f3f2ed;
    border: 1px solid #f3f2ed;
    border-bottom-right-radius: 6px;
  }
}

.btn-login {
  color: #fff;
  background-color: #fe6bba;
}

.btn-regis {
  color: #fe6bba;
  border-color: #fe6bba;
}

.div-profile-button-menu {
  display: none;
}

a.dropdown-toggle {
  text-decoration: none;
  font-size: 20px;
  color: #222121;
}

.dropdown-toggle::after {
  display: none;
}

:host ::ng-deep .p-inputnumber input {
  width: 100%;
}

.header-content-body {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.header-content-body-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

:host ::ng-deep p-inputnumber .p-component {
  width: 100%;
  font-family:
    Kanit,
    Noto Sans,
    Noto Sans Thai,
    sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 1600px) {
  .header-name input.name {
    font-size: 24px;
  }

  .div-child {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1400px) {
  .header-name {
    gap: 0.5rem;
    input.name {
      font-size: 22px;
    }
  }

  .div-profile-family {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1366px) {
  .div-profile {
    grid-template-columns: repeat(3, 1fr);
  }

  .div-profile-body-text {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .div-child {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .header-name {
    gap: 0.7rem;
    input.name {
      font-size: 20px;
    }
  }

  .btn-group {
    display: none;
  }

  .div-profile-button-menu {
    display: block;
  }

  .div-profile-body {
    display: flex;
    flex-direction: column;
  }

  .div-profile-doc {
    width: 100%;
  }

  .doc-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
  }

  .div-btn {
    gap: 5px;
    .btn {
      padding: 0 1rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .div-profile {
    grid-template-columns: repeat(2, 1fr);
  }

  .div-profile-body-text {
    grid-template-columns: repeat(1, 1fr);
  }

  .profile {
    width: 150px;
    height: 150px;
  }

  .div-background-profile {
    gap: 1rem;
  }

  .div-child {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .profile {
    width: 120px;
    height: 120px;
  }

  .div-background {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .div-profile {
    grid-template-columns: repeat(1, 1fr);
  }

  .div-background {
    padding: 1rem;
  }

  .header-name {
    gap: 0.7rem;
    input.name {
      font-size: 20px;
      width: 80%;
      text-overflow: ellipsis;
    }
  }
}

@media only screen and (max-width: 500px) {
  .doc-group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .family-body {
    grid-template-columns: repeat(1, 1fr);
  }

  .div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  .div-background-profile {
    display: flex;
    align-items: center;
  }

  .div-child-text {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .profile {
    width: 100px;
    height: 100px;
  }

  .btn-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    flex-direction: column;
    gap: 5px;
  }

  .header-content-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .header-name .div-text {
    width: 80px;
  }

  .div-btn {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 3rem;
  }
}
