.div-background {
  height: 310px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  background: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  margin-top: 10px;
}

:host ::ng-deep .p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 270px;
  height: 3rem;
}

:host ::ng-deep .p-button.p-button-icon-only {
  width: 3rem;
  padding: 0.75rem 0;
  height: 3rem;
}

// .col-12 {
//   //padding: 0.75rem;
// }

.div-profile {
  width: 100%;
  height: fit-content;
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -120px;
  z-index: 1;
  padding-top: 120px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 1.5rem;
}

.div-background .div-text {
  background: #f0f2f2;
  height: 35px;
  border-radius: 10px;
  width: 130px;
  padding-top: 3px;
}

.name {
  font-size: 23px;
}

.number {
  font-size: 18px;
  width: 80px;
}

.text {
  //margin-top: -40px;
  font-size: 18px;
  .row {
    margin-left: 5px;
  }
  label {
    font-size: 15px;
    color: #747d8c;
  }
  .col-2 {
    width: 250px;
  }
}

.test-child{
  label {
    color: #747d8c;
  }
}

:host ::ng-deep .p-button:enabled:hover {
  background: #fe6bba;
  color: #ffffff;
  border-color: #fe6bba;
}

:host ::ng-deep .p-button {
  background: #fe6bba;
  color: #ffffff;
  border-color: #fe6bba;
}

:host ::ng-deep .p-carousel .p-carousel-indicators {
  padding: 1rem;
  visibility: hidden;
}

.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.div-profile-two {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 40px;
  .col-2 {
    width: 250px;
    margin-top: 25px;
  }
  .text .row {
    margin-bottom: 10px;
  }
}

.div-profile-three {
  width: 75%;
  height: fit-content;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  z-index: 1;
  padding: 35px;
  // padding-top: 50px;
  // padding-left: 40px;
  // padding-bottom: 1.5rem;
  // .col-2 {
  //   width: 250px;
  //   margin-top: 25px;
  // }
  justify-content: center;
  .text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .col-2 {
      // width: 25%;
      margin-left: 0.5rem;
    }
  }
}

.div-doc{
  width: 24%;
  background-color: #fff; 
  margin-top: 1.2rem; 
  padding: 2rem; 
  border-radius: 15px;
  // height: ;
  .doc-group {
    display: flex; 
    margin-left: 5px;
  }
  p{
    color: #5d6066;
    margin-top: 20px; 
  }
}

.div-profile-four {
  width: 520px;
  // height: 380px;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  padding: 2rem;

  .col-12 {
    padding: 0.5rem;
  }

  label {
    font-size: 15px;
    color: #747d8c;
  }
}

.div-profile-six-child{
  border: 2px solid #F0F2F2;  
  height: 22.3rem; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  // width: 350px;
  width: 350px;
  // height: 380px;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  padding: 2rem;

  .col-12 {
    padding: 0.5rem;
  }

  label {
    font-size: 15px;
    color: #747d8c;
  }
}

.div-profile-six {
  width: 350px;
  // height: 380px;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  padding: 2rem;

  .col-12 {
    padding: 0.5rem;
  }

  label {
    font-size: 15px;
    color: #747d8c;
  }
}

.div-profile-five {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  z-index: 1;
  padding: 30px;
  .col {
    width: 370px;
  }
}

:host ::ng-deep .p-datepicker table td {
  padding: 0rem;
}

.btn {
  width: 60px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  margin-top: -5px;
  border-radius: 18px;
}

.btn-child {
  display: flex;
  padding-top: 5px;
  background-color: #dee2e6;
  width: 8rem;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  .btn {
    width: 55px;
    height: 28px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-regis {
    color: #fe6bba;
    border-color: #fe6bba;
    margin-left: 10px;
    background-color: #f1f2f6;
  }
}

.btn-group {
  display: flex;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #dee2e6;
  width: 18rem;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  //margin-top: 200px;

  .btn {
    width: max-content;
    height: 34px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .btn {
  //   width: 60px;
  //   height: 34px;
  //   font-weight: 500;
  //   font-size: 14px;
  //   margin-top: -5px;
  //   border-radius: 18px;
  // }

  .btn-login1 {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-login2 {
    color: #fff;
    background-color: #fe6bba;
    // width: 230px;
  }


  .btn-edit {
    color: #fe6bba;
    border-color: #fe6bba;
    background-color: #ffffff81;
    // transform: translate(1180px, -50px);
  }
}

.btn-edit {
  color: #fe6bba;
  border-color: #fe6bba;
  // transform: translate(1180px, -50px);
}

:host ::ng-deep .p-calendar input {
  height: 37px;
  width: 310px;
}

:host ::ng-deep .custom-calendar input {
  height: 45px;
  width: 310px;
}


:host .div-calendar-child ::ng-deep .p-datepicker {
  position: absolute;
  transform: translate(-3rem, -12.5rem);
}


/////
// * {
//   box-sizing: border-box;
//   font-family: "Kanit", sans-serif;
// }
/////


.div-btn {
  display: flex;
  padding-top: 5px;
  background-color: #dee2e6;
  width: 9.5rem;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 13rem;

  .btn {
    width: fit-content;
    height: fit-content;
    font-weight: 500;
    font-size: 15px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-regis {
    color: #fe6bba;
    border-color: #fe6bba;
    background-color: #f1f2f6;
  }
}

.btn-login {
  color: #fff;
  background-color: #fe6bba;
}

.btn-regis {
  color: #fe6bba;
  border-color: #fe6bba;
  margin-left: 10px;
}

:host ::ng-deep .p-inputswitch {
  height: 20px;
  width: 40px;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider,
:host
  ::ng-deep
  .p-inputswitch.p-inputswitch-checked:hover
  .p-inputswitch-slider {
  background: #fe6bba;
}

:host ::ng-deep .p-inputswitch .p-inputswitch-slider::before {
  height: 13px;
  width: 13px;
  margin-top: -6.6px;
}

::ng-deep .p-dialog {
  .p-dialog-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .p-dialog-footer {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .btn-login2 {
    width: 140px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-regis2 {
    width: 140px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    color: #fe6bba;
    border-color: #fe6bba;
    margin-left: 40px;
  }
}

:host .div-calendar ::ng-deep .p-datepicker {
  position: absolute;
  margin-top: 5px;
  margin-left: -75px;
}

//------------------------------------------//
// .profile-pic-wrapper {
//   height: 100vh;
//   width: 100%;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
// .pic-holder {
//   text-align: center;
//   position: relative;
//   border-radius: 50%;
//   width: 150px;
//   height: 150px;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 20px;
// }

// .pic-holder .pic {
//   height: 100%;
//   width: 100%;
//   -o-object-fit: cover;
//   object-fit: cover;
//   -o-object-position: center;
//   object-position: center;
// }

// .pic-holder .upload-file-block,
// .pic-holder .upload-loader {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(90, 92, 105, 0.7);
//   color: #f8f9fc;
//   font-size: 12px;
//   font-weight: 600;
//   opacity: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: all 0.2s;
// }

// .pic-holder .upload-file-block {
//   cursor: pointer;
// }

// .pic-holder:hover .upload-file-block,
// .uploadProfileInput:focus ~ .upload-file-block {
//   opacity: 1;
// }

// .pic-holder.uploadInProgress .upload-file-block {
//   display: none;
// }

// .pic-holder.uploadInProgress .upload-loader {
//   opacity: 1;
// }

// /* Snackbar css */
// .snackbar {
//   visibility: hidden;
//   min-width: 250px;
//   background-color: #333;
//   color: #fff;
//   text-align: center;
//   border-radius: 2px;
//   padding: 16px;
//   position: fixed;
//   z-index: 1;
//   left: 50%;
//   bottom: 30px;
//   font-size: 14px;
//   transform: translateX(-50%);
// }

// .snackbar.show {
//   visibility: visible;
//   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
//   animation: fadein 0.5s, fadeout 0.5s 2.5s;
// }

// @-webkit-keyframes fadein {
//   from {
//     bottom: 0;
//     opacity: 0;
//   }
//   to {
//     bottom: 30px;
//     opacity: 1;
//   }
// }

// @keyframes fadein {
//   from {
//     bottom: 0;
//     opacity: 0;
//   }
//   to {
//     bottom: 30px;
//     opacity: 1;
//   }
// }

// @-webkit-keyframes fadeout {
//   from {
//     bottom: 30px;
//     opacity: 1;
//   }
//   to {
//     bottom: 0;
//     opacity: 0;
//   }
// }

// @keyframes fadeout {
//   from {
//     bottom: 30px;
//     opacity: 1;
//   }
//   to {
//     bottom: 0;
//     opacity: 0;
//   }
// }

// .profile_img {
//   width: 220px;
//   height: 220px;
//   border-radius: 50%;
//   border: 8px solid #fff;
//   z-index: 0;
//   margin-left: 50px;
//   margin-top: 70px;
//   background: #f8f2f2;
// }

.profile-pic-wrapper {
  // height: 100vh;
  // width: 100%;
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  // border: 8px solid #fff;
  z-index: 0;
  margin-left: 50px;
  margin-top: 70px;
  background: #f8f2f2;
}

.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #fff;
  // margin-bottom: 20px;
  // margin-top: -0px;
  //margin-left: -12px;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  // object-fit: cover;
  // object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 14px;
  // font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.div-col-10{
  .col-10 {
    flex: 0 0 auto;  
    width: 87%;
    // @media only screen and (max-width: 767px) {
    //   width: 87%;
    // }
  }
}

.div-col-5{
  .col-5 {
    flex: 0 0 auto;
    width: 43%;
  }
}

// doc
.pic-holder-doc {
  display: flex;
  // text-align: center;
  position: relative;
  border-radius: 5px;
  // width: 100%;
  // height: 20%;
  width: 145px;
  height: 180px;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // justify-content: center;
  border: 1px solid #b4b2b2;
  // margin-bottom: 20px;
  // margin-top: -0px;
  //margin-left: -12px;
}

.pic-holder-doc .pic-doc {
  height: 100%;
  width: 100%;
  position: absolute;
  // object-fit: cover;
  // object-position: center;
}

.pic-holder-doc .upload-file-block,
.pic-holder-doc .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 14px;
  // font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder-doc .upload-file-block {
  cursor: pointer;
}

.pic-holder-doc:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder-doc .uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder-doc .uploadInProgress .upload-loader {
  opacity: 1;
}

.galleria-img{
  width: 120%; 
  display: block;
}

.div-profile-button{
  margin-left: 3%;
}

@media screen and (max-width: 1366px) {
  .div-background {
    width: 100%;
  }
  .div-profile .text .row .col-2 {
    width: 200px;
  }

  .div-profile .text .row .col-4 {
    width: 45%;
    margin-left: -80px;
    input{
      width: 375px;
    }
  }

  .div-profile .text .row .col-12 {
    width: 50%;
    margin-left: -75px;
    input{
      width: 580px;
    }
  }

  .div-profile-button{
    margin-left: -23%;
  }

  .div-profile-three {
    width: 75%;
    height: 36.5rem;
    .text{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .col-2 {
        width: 32%;
      }
    }
  }

  .div-doc {
    .doc-group {
      display: flex; 
      margin-left: 5px;
      flex-direction: column;
    }
    .pic-holder-doc {
      width: 180px;
      height: 180px;
    }
  }

  .galleria-img{
    width: 100%; 
    display: block;
  }

  .div-profile-six-child{
    border: 2px solid #F0F2F2;  
    height: 22.3rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    // width: 350px;
    width: 330px;
    // height: 380px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    padding: 2rem;
  
    .col-12 {
      padding: 0.5rem;
    }
  
    label {
      font-size: 15px;
      color: #747d8c;
    }
  }

  .div-profile-six {
    width: 330px;
    // height: 380px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    padding: 2rem;
  
    .col-12 {
      padding: 0.5rem;
    }
  
    label {
      font-size: 15px;
      color: #747d8c;
    }
  }
  
  .div-profile-five {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    z-index: 1;
    padding: 30px;
    .col {
      width: 350px;
    }
  }

  .btn-child {
    width: 6.8rem;
    .btn {
      width: fit-content;
    }
  }
}