<div [formGroup]="formModel">
    <div class="div-background">
        <div class="row">
            <div class="col-1 div-img">
                <img class="profile_img" src="{{ checkImgProfile(formModel.get('gender')?.value)}}" alt="logo" />
            </div>
            <div class="col-4" style="margin-top: 140px;">
                <div class="row" style="margin-left: 150px;">
                    <div class="col mb-3" style="margin-left: 20px;">
                        <input type="text" readonly class="form-control-plaintext name" formControlName="fullName" />
                    </div>
                </div>
                <div class="row div-text" style="margin-left: 180px;">
                    <div class="col-1 mb-3">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 7V4C0 2.89543 0.390524 1.95262 1.17157 1.17157C1.95262 0.390524 2.89543 0 4 0H10C11.1046 0 12.0474 0.390524 12.8284 1.17157C13.6095 1.95262 14 2.89543 14 4V10C14 11.1046 13.6095 12.0474 12.8284 12.8284C12.0474 13.6095 11.1046 14 10 14H4C2.89543 14 1.95262 13.6095 1.17157 12.8284C0.390524 12.0474 0 11.1046 0 10V7Z"
                                fill="#FE6BBA" />
                        </svg>
                    </div>
                    <div class="col mb-3" style="margin-top: -7px;">
                        <input class="form-control-plaintext number" id="firstName" type="text"
                            formControlName="employeeCode" />
                    </div>
                    <button type="button" (click)="onClickEdit()" class="btn btn-edit" *ngIf="mode">แก้ไข</button>
                    <div class="row div-btn">
                        <div class="col-6">
                            <button type="button" class="btn btn-login" (click)="accept()" *ngIf="!mode">บันทึก</button>
                        </div>
                        <div class="col-6">
                            <button type="button" (click)="onClickCancal()" class="btn btn-regis" (click)="reject()"
                                *ngIf="!mode">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-profile">
        <div class="text">
            <div class="row">
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">เลขประจำตัวประชาชน</label>
                    <input [class]="textString" id="idCard" type="text" formControlName="idCard" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">วันเกิด</label>
                    <input [class]="textString" id="birthday" type="text" formControlName="birthday" *ngIf="mode" />
                    <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                        dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">อายุ</label>
                    <input [class]="textString" id="age" type="text" formControlName="age" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">เพศ</label>
                    <input [class]="textString" id="lastName" type="text" formControlName="gender" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">หมายเลขโทรศัพท์</label>
                    <input [class]="textString" id="" type="text" formControlName="tel" />
                </div>

                <div class="col-2 mb-3">
                    <label for="lastName" class="block">ไลน์ไอดี</label>
                    <input [class]="textString" id="lineId" type="text" formControlName="lineId" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">เฟสบุ๊ค</label>
                    <input [class]="textString" id="facebook" type="text" formControlName="facebook" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">อีเมล</label>
                    <input [class]="textString" id="email" type="text" formControlName="email" />
                </div>
                <div class="col-6 mb-3">
                    <label for="lastName" class="block">ที่อยู่</label>
                    <input [class]="textString" id="address" type="text" formControlName="address" />
                </div>
            </div>
        </div>
    </div>

    <div class="div-profile-two">
        <div *ngIf="formModel.get('beneficiaries')?.value">
            <div class="text" *ngFor="let beneficiary of beneficiarys">
                <span>บิดา</span>
                <div class="row" *ngIf="beneficiary.relationship == 'บิดา'">
                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="beneficiaryPrefix" class="block">คำนำหน้า</label>
                        <input [class]="textString" id="prefix" type="text" value="{{beneficiary.prefix}}" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="prefix" class="block">คำนำหน้า</label>
                        <select class="form-select" aria-label="Default select example" value="{{beneficiary.prefix}}"
                            required="true">
                            <option value="0" selected>เลือกคำนำหน้า</option>
                            <option value="1">นาย</option>
                            <option value="2">นางสาว</option>
                            <option value="3">นาง</option>
                            <option value="3">ด.ช</option>
                            <option value="3">ด.ญ</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3">
                        <label for="firstName" class="block">ชื่อ</label>
                        <input [class]="textString" id="firstName" type="text" value="{{beneficiary.firstName}}" />
                    </div>

                    <div class="col-2 mb-3">
                        <label for="lastName" class="block">นามสกุล</label>
                        <input [class]="textString" id="lastName" type="text" value="{{beneficiary.lastName}}" />
                    </div>

                    <div class="col-2 md-3">
                        <label for="basic" class="block">วันเกิด</label>
                        <input [class]="textString" id="birthday" type="text" value="{{beneficiary.birthday}}"
                            *ngIf="mode" />
                        <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                            dateFormat="dd/mm/yy"></p-calendar>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <input [class]="textString" id="relationship" type="text"
                            value="{{beneficiary.relationship}}" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <select class="form-select" aria-label="Default select example"
                            value="{{beneficiary.relationship}}" formControlName="relationship" required="true">
                            <option value="0" selected>เลือกความสัมพันธ์</option>
                            <option value="1">บิดา</option>
                            <option value="2">มารดา</option>
                            <option value="3">ภรรยา</option>
                            <option value="4">ลูก</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="marital" class="block">สถานภาพ</label>
                        <input [class]="textString" id="marital" type="text" value="{{beneficiary.marital}}"
                            formControlName="marital" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="marital" class="block">สถานภาพ</label>
                        <select class="form-select" aria-label="Default select example" value="{{beneficiary.marital}}"
                            formControlName="marital" required="true">
                            <option value="0" selected>เลือกสถานภาพ</option>
                            <option value="1">มีชีวิต</option>
                            <option value="2">ไม่มีชีวิต</option>
                        </select>
                    </div>
                </div>

                <span>มารดา</span>
                <div class="row">
                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="firstName" class="block">คำนำหน้า</label>
                        <input [class]="textString" id="prefix" type="text" formControlName="prefix" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="prefix" class="block">คำนำหน้า</label>
                        <select class="form-select" aria-label="Default select example" formControlName="prefix"
                            required="true">
                            <option value="0" selected>เลือกคำนำหน้า</option>
                            <option value="1">นาย</option>
                            <option value="2">นางสาว</option>
                            <option value="3">นาง</option>
                            <option value="3">ด.ช</option>
                            <option value="3">ด.ญ</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3">
                        <label for="firstName" class="block">ชื่อ</label>
                        <input [class]="textString" id="firstName" type="text" formControlName="firstName" />
                    </div>

                    <div class="col-2 mb-3">
                        <label for="lastName" class="block">นามสกุล</label>
                        <input [class]="textString" id="lastName" type="text" formControlName="lastName" />
                    </div>

                    <div class="col-2 md-3">
                        <label for="basic" class="block">วันเกิด</label>
                        <input [class]="textString" id="birthday" type="text" formControlName="birthday" *ngIf="mode" />
                        <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                            dateFormat="dd/mm/yy"></p-calendar>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <input [class]="textString" id="relationship" type="text" formControlName="relationship" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <select class="form-select" aria-label="Default select example" formControlName="relationship"
                            required="true">
                            <option value="0" selected>เลือกความสัมพันธ์</option>
                            <option value="1">บิดา</option>
                            <option value="2">มารดา</option>
                            <option value="3">ภรรยา</option>
                            <option value="4">ลูก</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="marital" class="block">สถานภาพ</label>
                        <input [class]="textString" id="marital" type="text" formControlName="marital" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="marital" class="block">สถานภาพ</label>
                        <select class="form-select" aria-label="Default select example" formControlName="marital"
                            required="true">
                            <option value="0" selected>เลือกสถานภาพ</option>
                            <option value="1">มีชีวิต</option>
                            <option value="2">ไม่มีชีวิต</option>
                        </select>
                    </div>
                </div>

                <div class="row" style="margin-left: -10px;">
                    <div class="col-1">
                        <span>ภรรยา</span>
                    </div>
                    <div class="col-1" style="margin-left: -70px;" *ngIf="!mode" dateFormat="dd/mm/yy">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">ถ้ามี</label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -15px;">
                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="firstName" class="block">คำนำหน้า</label>
                        <input [class]="textString" id="prefix" type="text" formControlName="prefix" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="prefix" class="block">คำนำหน้า</label>
                        <select class="form-select" aria-label="Default select example" formControlName="prefix"
                            required="true">
                            <option value="0" selected>เลือกคำนำหน้า</option>
                            <option value="1">นาย</option>
                            <option value="2">นางสาว</option>
                            <option value="3">นาง</option>
                            <option value="3">ด.ช</option>
                            <option value="3">ด.ญ</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3">
                        <label for="firstName" class="block">ชื่อ</label>
                        <input [class]="textString" id="firstName" type="text" formControlName="firstName" />
                    </div>

                    <div class="col-2 mb-3">
                        <label for="lastName" class="block">นามสกุล</label>
                        <input [class]="textString" id="lastName" type="text" formControlName="lastName" />
                    </div>

                    <div class="col-2 md-3">
                        <label for="basic" class="block">วันเกิด</label>
                        <input [class]="textString" id="birthday" type="text" formControlName="birthday" *ngIf="mode" />
                        <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                            dateFormat="dd/mm/yy"></p-calendar>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <input [class]="textString" id="relationship" type="text" formControlName="relationship" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <select class="form-select" aria-label="Default select example" formControlName="relationship"
                            required="true">
                            <option value="0" selected>เลือกความสัมพันธ์</option>
                            <option value="1">บิดา</option>
                            <option value="2">มารดา</option>
                            <option value="3">ภรรยา</option>
                            <option value="4">ลูก</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="marital" class="block">สถานภาพสมรส</label>
                        <input [class]="textString" id="marital" type="text" formControlName="marital" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="marital" class="block">สถานภาพสมรส</label>
                        <select class="form-select" aria-label="Default select example" formControlName="marital"
                            required="true">
                            <option value="0" selected>เลือกสถานภาพสมรส</option>
                            <option value="1">โสด</option>
                            <option value="2">แต่งงานแล้ว</option>
                            <option value="3">เป็นหม้าย</option>
                            <option value="4">หย่าร้าง</option>
                            <option value="5">แยกกันอยู่</option>
                        </select>
                    </div>
                </div>

                <span>ลูก</span>
                <div class="row">
                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="firstName" class="block">คำนำหน้า</label>
                        <input [class]="textString" id="prefix" type="text" formControlName="prefix" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="prefix" class="block">คำนำหน้า</label>
                        <select class="form-select" aria-label="Default select example" formControlName="prefix"
                            required="true">
                            <option value="0" selected>เลือกคำนำหน้า</option>
                            <option value="1">นาย</option>
                            <option value="2">นางสาว</option>
                            <option value="3">นาง</option>
                            <option value="3">ด.ช</option>
                            <option value="3">ด.ญ</option>
                        </select>
                    </div>

                    <div class="col-2 mb-3">
                        <label for="firstName" class="block">ชื่อ</label>
                        <input [class]="textString" id="firstName" type="text" formControlName="lastName" />
                    </div>

                    <div class="col-2 mb-3">
                        <label for="lastName" class="block">นามสกุล</label>
                        <input [class]="textString" id="lastName" type="text" formControlName="lastName" />
                    </div>

                    <div class="col-2 md-3">
                        <label for="basic" class="block">วันเกิด</label>
                        <input [class]="textString" id="birthday" type="text" formControlName="birthday" *ngIf="mode" />
                        <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                            dateFormat="dd/mm/yy"></p-calendar>
                    </div>

                    <div class="col-2 mb-3" *ngIf="mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <input [class]="textString" id="relationship" type="text" formControlName="relationship" />
                    </div>
                    <div class="col-2 mb-3" *ngIf="!mode">
                        <label for="relationship" class="block">ความสัมพันธ์</label>
                        <select class="form-select" aria-label="Default select example" formControlName="relationship"
                            required="true">
                            <option value="0" selected>เลือกความสัมพันธ์</option>
                            <option value="1">บิดา</option>
                            <option value="2">มารดา</option>
                            <option value="3">ภรรยา</option>
                            <option value="4">ลูก</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="text" *ngIf="!formModel.get('beneficiaries')?.value">
            <span>บิดา</span>
            <div class="row">
                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="beneficiaryPrefix" class="block">คำนำหน้า</label>
                    <input [class]="textString" type="text" formControlName="textHidden" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="beneficiaryPrefix" class="block">คำนำหน้า</label>
                    <select class="form-select" aria-label="Default select example" required="true"
                        formControlName="beneficiaryPrefix">
                        <option value="0" selected>เลือกคำนำหน้า</option>
                        <option value="1">นาย</option>
                        <option value="2">นางสาว</option>
                        <option value="3">นาง</option>
                        <option value="3">ด.ช</option>
                        <option value="3">ด.ญ</option>
                    </select>
                </div>

                <div class="col-2 mb-3">
                    <label for="beneficiaryFirstName" class="block">ชื่อ</label>
                    <input [class]="textString" id="firstName" type="text" formControlName="beneficiaryFirstName" />
                </div>

                <div class="col-2 mb-3">
                    <label for="lastName" class="block">นามสกุล</label>
                    <input [class]="textString" id="lastName" type="text" formControlName="beneficiaryLastName" />
                </div>

                <div class="col-2 md-3">
                    <label for="basic" class="block">วันเกิด</label>
                    <input [class]="textString" id="birthday" type="text" *ngIf="mode" formControlName="textHidden" />
                    <p-calendar inputId="basic" *ngIf="!mode" dateFormat="dd/mm/yy"
                        formControlName="beneficiaryLastName"></p-calendar>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="relationship" class="block">ความสัมพันธ์</label>
                    <input [class]="textString" id="relationship" type="text" formControlName="textHidden" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="beneficiaryRelationship" class="block">ความสัมพันธ์</label>
                    <select class="form-select" aria-label="Default select example" required="true"
                        formControlName="beneficiaryRelationship">
                        <option value="0" selected>เลือกความสัมพันธ์</option>
                        <option value="1">บิดา</option>
                        <option value="2">มารดา</option>
                        <option value="3">ภรรยา</option>
                        <option value="4">ลูก</option>
                    </select>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="marital" class="block">สถานภาพ</label>
                    <input [class]="textString" id="marital" type="text" formControlName="textHidden" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="marital" class="block">สถานภาพ</label>
                    <select class="form-select" aria-label="Default select example" required="true"
                        formControlName="beneficiaryMarital">
                        <option value="0" selected>เลือกสถานภาพ</option>
                        <option value="1">มีชีวิต</option>
                        <option value="2">ไม่มีชีวิต</option>
                    </select>
                </div>
            </div>

            <span>มารดา</span>
            <div class="row">
                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="beneficiaryPrefix" class="block">คำนำหน้า</label>
                    <input [class]="textString" type="text" formControlName="textHidden" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="beneficiaryPrefix" class="block">คำนำหน้า</label>
                    <select class="form-select" aria-label="Default select example" required="true"
                        formControlName="beneficiaryPrefix">
                        <option value="0" selected>เลือกคำนำหน้า</option>
                        <option value="1">นาย</option>
                        <option value="2">นางสาว</option>
                        <option value="3">นาง</option>
                        <option value="3">ด.ช</option>
                        <option value="3">ด.ญ</option>
                    </select>
                </div>

                <div class="col-2 mb-3">
                    <label for="beneficiaryFirstName" class="block">ชื่อ</label>
                    <input [class]="textString" id="firstName" type="text" formControlName="beneficiaryFirstName" />
                </div>

                <div class="col-2 mb-3">
                    <label for="lastName" class="block">นามสกุล</label>
                    <input [class]="textString" id="lastName" type="text" formControlName="beneficiaryLastName" />
                </div>

                <div class="col-2 md-3">
                    <label for="basic" class="block">วันเกิด</label>
                    <input [class]="textString" id="birthday" type="text" *ngIf="mode" formControlName="textHidden" />
                    <p-calendar inputId="basic" *ngIf="!mode" dateFormat="dd/mm/yy"
                        formControlName="beneficiaryLastName"></p-calendar>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="relationship" class="block">ความสัมพันธ์</label>
                    <input [class]="textString" id="relationship" type="text" formControlName="textHidden" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="beneficiaryRelationship" class="block">ความสัมพันธ์</label>
                    <select class="form-select" aria-label="Default select example" required="true"
                        formControlName="beneficiaryRelationship">
                        <option value="0" selected>เลือกความสัมพันธ์</option>
                        <option value="1">บิดา</option>
                        <option value="2">มารดา</option>
                        <option value="3">ภรรยา</option>
                        <option value="4">ลูก</option>
                    </select>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="marital" class="block">สถานภาพ</label>
                    <input [class]="textString" id="marital" type="text" formControlName="textHidden" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="marital" class="block">สถานภาพ</label>
                    <select class="form-select" aria-label="Default select example" required="true"
                        formControlName="beneficiaryMarital">
                        <option value="0" selected>เลือกสถานภาพ</option>
                        <option value="1">มีชีวิต</option>
                        <option value="2">ไม่มีชีวิต</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-left: -10px;">
                <div class="col-1">
                    <span>ภรรยา</span>
                </div>
                <div class="col-1" style="margin-left: -70px;">
                    <div class="form-check form-switch" class="row">
                        <!-- <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="onClickWife($event)"> -->
                        <div class="col-6">
                            <p-inputSwitch  (onChange)="handleChange($event)" [(ngModel)]="wife" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="flexSwitchCheckDefault">ถ้ามี</label>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: -15px;" *ngIf="wife">
                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="firstName" class="block">คำนำหน้า</label>
                    <input [class]="textString" id="prefix" type="text" formControlName="prefix" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="prefix" class="block">คำนำหน้า</label>
                    <select class="form-select" aria-label="Default select example" formControlName="prefix"
                        required="true">
                        <option value="0" selected>เลือกคำนำหน้า</option>
                        <option value="1">นาย</option>
                        <option value="2">นางสาว</option>
                        <option value="3">นาง</option>
                        <option value="3">ด.ช</option>
                        <option value="3">ด.ญ</option>
                    </select>
                </div>

                <div class="col-2 mb-3">
                    <label for="firstName" class="block">ชื่อ</label>
                    <input [class]="textString" id="firstName" type="text" formControlName="firstName" />
                </div>

                <div class="col-2 mb-3">
                    <label for="lastName" class="block">นามสกุล</label>
                    <input [class]="textString" id="lastName" type="text" formControlName="lastName" />
                </div>

                <div class="col-2 md-3">
                    <label for="basic" class="block">วันเกิด</label>
                    <input [class]="textString" id="birthday" type="text" formControlName="birthday" *ngIf="mode" />
                    <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                        dateFormat="dd/mm/yy"></p-calendar>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="relationship" class="block">ความสัมพันธ์</label>
                    <input [class]="textString" id="relationship" type="text" formControlName="relationship" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="relationship" class="block">ความสัมพันธ์</label>
                    <select class="form-select" aria-label="Default select example" formControlName="relationship"
                        required="true">
                        <option value="0" selected>เลือกความสัมพันธ์</option>
                        <option value="1">บิดา</option>
                        <option value="2">มารดา</option>
                        <option value="3">ภรรยา</option>
                        <option value="4">ลูก</option>
                    </select>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="marital" class="block">สถานภาพสมรส</label>
                    <input [class]="textString" id="marital" type="text" formControlName="marital" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="marital" class="block">สถานภาพสมรส</label>
                    <select class="form-select" aria-label="Default select example" formControlName="marital"
                        required="true">
                        <option value="0" selected>เลือกสถานภาพสมรส</option>
                        <option value="1">โสด</option>
                        <option value="2">แต่งงานแล้ว</option>
                        <option value="3">เป็นหม้าย</option>
                        <option value="4">หย่าร้าง</option>
                        <option value="5">แยกกันอยู่</option>
                    </select>
                </div>
            </div>

            <!-- <span>ลูก</span> -->
            <div class="row" style="margin-left: -10px;">
                <div class="col-1">
                    <span>ลูก</span>
                </div>
                <div class="col-1" style="margin-left: -70px;">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">ถ้ามี</label>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="firstName" class="block">คำนำหน้า</label>
                    <input [class]="textString" id="prefix" type="text" formControlName="prefix" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="prefix" class="block">คำนำหน้า</label>
                    <select class="form-select" aria-label="Default select example" formControlName="prefix"
                        required="true">
                        <option value="0" selected>เลือกคำนำหน้า</option>
                        <option value="1">นาย</option>
                        <option value="2">นางสาว</option>
                        <option value="3">นาง</option>
                        <option value="3">ด.ช</option>
                        <option value="3">ด.ญ</option>
                    </select>
                </div>

                <div class="col-2 mb-3">
                    <label for="firstName" class="block">ชื่อ</label>
                    <input [class]="textString" id="firstName" type="text" formControlName="lastName" />
                </div>

                <div class="col-2 mb-3">
                    <label for="lastName" class="block">นามสกุล</label>
                    <input [class]="textString" id="lastName" type="text" formControlName="lastName" />
                </div>

                <div class="col-2 md-3">
                    <label for="basic" class="block">วันเกิด</label>
                    <input [class]="textString" id="birthday" type="text" formControlName="birthday" *ngIf="mode" />
                    <p-calendar inputId="basic" formControlName="birthdayCalendar" *ngIf="!mode"
                        dateFormat="dd/mm/yy"></p-calendar>
                </div>

                <div class="col-2 mb-3" *ngIf="mode">
                    <label for="relationship" class="block">ความสัมพันธ์</label>
                    <input [class]="textString" id="relationship" type="text" formControlName="relationship" />
                </div>
                <div class="col-2 mb-3" *ngIf="!mode">
                    <label for="relationship" class="block">ความสัมพันธ์</label>
                    <select class="form-select" aria-label="Default select example" formControlName="relationship"
                        required="true">
                        <option value="0" selected>เลือกความสัมพันธ์</option>
                        <option value="1">บิดา</option>
                        <option value="2">มารดา</option>
                        <option value="3">ภรรยา</option>
                        <option value="4">ลูก</option>
                    </select>
                </div>
            </div> -->
        </div>
    </div>

    <div class="div-profile-three">
        <div class="text">
            <div class="row">
                <div class="col-2 mb-3">
                    <label for="employeeTypeName" class="block">ระดับ</label>
                    <input [class]="textString" id="levelName" type="text" formControlName="levelName" />
                </div>
                <div class="col-2 mb-3">
                    <label for="employeeTypeName" class="block">ประเภทพนักงาน</label>
                    <input [class]="textString" id="employeeTypeName" type="text" formControlName="employeeTypeName" />
                </div>
                <div class="col-2 mb-3">
                    <label for="positionName" class="block">ตำแหน่ง</label>
                    <input [class]="textString" id="positionName" type="text" formControlName="positionName" />
                </div>
                <div class="col-2 mb-3">
                    <label for="affiliationName" class="block">สังกัด</label>
                    <input [class]="textString" id="affiliationName" type="text" formControlName="affiliationName" />
                </div>
                <div class="col-2 mb-3">
                    <label for="bureauName" class="block">สำนัก</label>
                    <input [class]="textString" id="affiliationName" type="text" formControlName="bureauName" />
                </div>
                <div class="col-2 mb-3">
                    <label for="salary" class="block">เงินเดือน</label>
                    <input [class]="textString" id="salary" type="text" formControlName="salary" />
                </div>
                <div class="col-2 mb-3">
                    <label for="compensation" class="block">ค่าตอบแทน</label>
                    <input [class]="textString" id="compensation" type="text" formControlName="compensation" />
                </div>
                <div class="col-2 mb-3">
                    <label for="contractStartDate" class="block">วันที่เริ่มทำงาน</label>
                    <input [class]="textString" id="contractStartDate" type="text"
                        formControlName="contractStartDate" />
                </div>
                <div class="col-2 mb-3">
                    <label for="civilServiceDate" class="block">วันที่บรรจุเข้ารับราชการ</label>
                    <input [class]="textString" id="civilServiceDate" type="text" formControlName="civilServiceDate" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">สถานภาพสมรส</label>
                    <input [class]="textString" id="lastName" type="text" formControlName="positionName" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">วันที่เริ่มเก็บเงิน</label>
                    <input [class]="textString" id="billingStartDate" type="text" formControlName="billingStartDate" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">เงินหุ้นรายเดือน</label>
                    <input [class]="textString" id="monthlyStockMoney" type="text"
                        formControlName="monthlyStockMoney" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">เลขที่บัญชีธนาคารเงินเดือน</label>
                    <input [class]="textString" id="salaryBankAccountNumber" type="text"
                        formControlName="salaryBankAccountNumber" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">เลขที่บัญชีธนาคารรับเงิน</label>
                    <input [class]="textString" id="bankAccountReceivingNumber" type="text"
                        formControlName="bankAccountReceivingNumber" />
                </div>
                <div class="col-2 mb-3">
                    <label for="lastName" class="block">วันที่ครบอายุ/เกษียณอายุราชการ</label>
                    <input [class]="textString" id="retirementDate" type="text" formControlName="retirementDate" />
                </div>
            </div>
        </div>
    </div>
</div>