<div class="div-table-stocks">
  <p>รายการแจ้งเตือนการสมัครสมาชิก</p>
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">วันที่สมัคร</th>
        <th scope="col">ชื่อ-สกุล</th>
        <th scope="col">เลขประจำตัวประชาชน</th>
        <th scope="col">ตำแหน่ง</th>
        <th scope="col">หน่อยงาน</th>
        <th scope="col">เบอร์โทร</th>
        <th scope="col">อีเมล</th>
        <th scope="col">ยืนยันการสมัคร</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>25 ม.ค. 2566</td>
        <td>สถาพร รุจีรัตน์</td>
        <td>1500701268600</td>
        <td>พนักงาน</td>
        <td>การคลัง</td>
        <td>0908987193</td>
        <td>srujirut@gmail.com</td>
        <td>
          <button type="button" class="btn btn-login">ยืนยัน</button>
          <button type="button" class="btn btn-regis">ยกเลิก</button>
        </td>
      </tr>
      <tr>
        <td>25 ม.ค. 2566</td>
        <td>สถาพร แสนแล</td>
        <td>1500701268600</td>
        <td>พนักงาน</td>
        <td>การคลัง</td>
        <td>0808987193</td>
        <td>sanla@gmail.com</td>
        <td>
          <button type="button" class="btn btn-login">ยืนยัน</button>
          <button type="button" class="btn btn-regis">ยกเลิก</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>