<div class="div-table-stocks">
  <p-chip label="รายการแจ้งเตือน" styleClass="mr-2"></p-chip>
  <br><br>
  <p-table #dt2 [value]="dataNotify" dataKey="id" editMode="row" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20, 30]" [loading]="loading" [paginator]="true" selectionMode="single"
    currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ" [globalFilterFields]="['createDate', 'employee.employeeCode', 'employee.firstName', 'employee.lastName', 
    'employee.position.name', 'employee.affiliation.name', 'status', 'reason' ]" [tableStyle]="{'max-width': '100%'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:6%">ลำดับที่</th>
        <th style="width:10%">วันที่ร้องขอ</th>
        <th style="width:10%">รหัสพนักงาน</th>
        <th style="width:10%">ชื่อ</th> 
        <th style="width:10%">สกุล</th>
        <th style="width:15%">ตำแหน่ง</th>
        <th style="width:15%">สังกัด</th>
        <th pSortableColumn="status" style="min-width: 8rem">
          <div class="flex justify-content-between align-items-center">
            สถานะ
            <p-columnFilter field="status" matchMode="equals" display="menu" class="ml-auto" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                  placeholder="เลือกสถานะ">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'notify-badge-' + option.value">{{option.label}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width:10%">หมายเหตุ/จำนวน</th>
        <th style="width:10%">ยืนยัน</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-editing="editing" let-dataNotify let-rowIndex="rowIndex" let-ri="rowIndex">
      <tr [pEditableRow]="dataNotify">
        <td>{{ rowIndex + 1  }}</td>
        <td>{{ pipeDateTH(dataNotify.createDate)}}</td>
        <td>{{ dataNotify.employee.employeeCode || 'XXXXX' }}</td>
        <td>{{ dataNotify.employee.firstName }}</td>
        <td>{{ dataNotify.employee.lastName }}</td>
        <td>{{ dataNotify.employee.position.name }}</td>
        <td>{{ dataNotify.employee.affiliation.name }}</td>
        <td>
          <span [class]="'notify-badge-' + dataNotify.status">{{statusNotify(dataNotify.status)}}</span>
        </td>
        <td>{{ dataNotify.reason }}</td>
        <td style="text-align: -webkit-center;">
          <!-- <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(dataNotify)" class="p-button-rounded p-button-text" tooltipPosition="top"
              pTooltip="เเก้ไข"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="onClickApproveEmp(dataNotify)"
              class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onClickCancleApproveEmp(dataNotify)"
              class="p-button-rounded p-button-text p-button-danger"></button>
          </div> -->
          <p-menu #menuDetail [model]="mess" [popup]="true"></p-menu>
          <div class="div-menu">
            <a (click)="selectedItem = dataNotify; menuDetail.toggle($event)">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
          </div>

          <!-- <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Show"></button> -->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="color: #8690a1;">ไม่มีข้อมูล</td>
      </tr>
    </ng-template>
  </p-table>
  <br>
</div>

<p-confirmDialog #cd [appendTo]="'body'" [draggable]="false" [dismissableMask]="true" [style]="{width: '25vw'}">
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-login" (click)="cd.accept()">อนุมัติ</button>
    <button type="button" class="btn btn-regis" (click)="cd.reject()">ไม่อนุมัติ</button>
  </ng-template>
</p-confirmDialog>

<p-dialog header="สาเหตุการยกเลิก" [(visible)]="displayModal" [modal]="true" [style]="{width: '20vw'}"
  [draggable]="false" [resizable]="false">
  <div [formGroup]="formModel">
    <div class="col mb-1">
      <textarea class="form-control" rows="3" cols="36" autoResize="false" formControlName="remark"
        placeholder="ข้อความ"></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-login" (click)="onclikRemark()">ยืนยัน</button>
    <button type="button" class="btn btn-regis" (click)="displayModal=false">ยกเลิก</button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>

<p-dialog header="ข้อมูลสมาชิก" [(visible)]="detail" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div [formGroup]="detailModel">
    <div class="div-profile">
      <div class="text">
          <div class="row">
              <div class="col-3 mb-3">
                  <label for="firstName" class="block">ชื่อ</label>
                  <input class="form-control-plaintext" type="text" formControlName="firstName" />
              </div>
              <div class="col-3 mb-3">
                  <label for="lastName" class="block">นามสกุล</label>
                  <input class="form-control-plaintext" type="text" formControlName="lastName" />
              </div>
              <div class="col-3 mb-3">
                  <label for="idCard" class="block">เลขประจำตัวประชาชน</label>
                  <input class="form-control-plaintext" type="text" formControlName="idCard" />
              </div>
              <div class="col-3 mb-3">
                  <label class="block">ระดับ</label>
                  <input class="form-control-plaintext" type="text" formControlName="levelName" />
              </div>
              <div class="col-3 mb-3">
                  <label  class="block">ประเภทพนักงาน</label>
                  <input class="form-control-plaintext" type="text" formControlName="employeeTypeName" />
              </div>
              <div class="col-3 mb-3">
                  <label  class="block">ตำแหน่ง</label>
                  <input class="form-control-plaintext" type="text" formControlName="positionName" />
              </div>            
              <div class="col-3 mb-3">
                  <label  class="block">หน่วยงาน</label>
                  <input class="form-control-plaintext" type="text" formControlName="departmentName" />
              </div>
              <div class="col-3 mb-3">
                <label  class="block">สังกัด</label>
                <input class="form-control-plaintext" type="text" formControlName="affiliationName" />
              </div>
              <div class="col-3 mb-3">
                <label  class="block">สำนัก</label>
                <input class="form-control-plaintext" type="text" formControlName="bureauName" />
              </div>
              <div class="col-3 mb-3">
                <label  class="block">เงินหุ้นสะสม</label>
                <input class="form-control-plaintext" type="text" formControlName="stockAccumulate" />
              </div>
              <div class="col-3 mb-3">
                <label  class="block">หนี้คงค้าง</label>
                <input class="form-control-plaintext" type="number" formControlName="loanBalance" />
                <!-- <p-inputNumber class="form-control-plaintext" inputId="integeronly" formControlName="loanBalance" mode="decimal" [required]="true" 
                    [minFractionDigits]="0" [maxFractionDigits]="2" [maxlength]="7" ></p-inputNumber> -->
              </div>
          </div>
      </div>
    </div>
  </div>
</p-dialog>