<div class="card-table">
    <p-chip label="การจัดการเงินกู้" styleClass="mr-2"></p-chip>
    <p-toast></p-toast>
    <div class="div-button-btn">
        <div class="btn-group">
            <button type="button" class="btn btn-login"
                (click)="updateLoantoMonth()">เรียกเก็บชำระเงินกู้รายเดือน</button>
            <button type="button" class="btn btn-login" 
                (click)="onCheckToAddBeforeAddLoan()">สร้างสัญญาเงินกู้ใหม่</button>  
                <!-- [disabled]="checkNullAddLoan" -->
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-login"
                (click)="searchDocumentV1All('export')">ประวัติเงินกู้ของสมาชิกทั้งหมด</button>
            <button type="button" class="btn btn-login" (click)="searchDocumentV1All('pdf')">ดาวน์โหลด PDF</button>
            <button type="button" class="btn btn-login" (click)="searchDocumentV1All('excel')">ดาวน์โหลด EXCEL</button>
        </div>
        <div class="card-menu-doc">
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
            <a class="dropdown-toggle" (click)="menu.toggle($event)">
                <i class="uil uil-ellipsis-v"></i>
            </a>
        </div>
    </div>

    <p-table responsiveLayout="stack" #dt2 [value]="dataLoan" dataKey="id" editMode="row" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        selectionMode="single" currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
        [globalFilterFields]="['employeeCode', 'firstName', 'lastName', 'stockValue', 'stockAccumulate', 'loanNo' ]"
        [tableStyle]="{'max-width': '100%'}">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="flex-name"> ตารางการส่งเงินกู้ของสมาชิก</span>
                <span class="p-input-icon-left ml-auto">
                    <i class="bi bi-search" style="color: #979797; display: flex;"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="ค้นหา"
                        style="width: 10rem; border-radius: 10px; height: 42px; font-size: 15px; border: 1px solid var(--bd3-color);" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:10%">ลำดับที่</th>
                <th style="width:10%">เลขที่สัญญา</th>
                <th style="width:10%">รหัสพนักงาน</th>
                <th style="width:10%">ชื่อ</th>
                <th style="width:10%">นามสกุล</th>
                <th style="width:10%">เวลากู้</th>
                <th style="width:10%">เงินกู้สามัญ</th>
                <th style="width:10%">เงินกู้คงเหลือ</th>
                <th style="width:10%">ยอดที่ต้องชำระต่อเดือน</th>
                <th style="width:5%">แก้ไข</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-editing="editing" let-dataLoan let-ri="rowIndex" let-columns="columns">
            <tr [pEditableRow]="dataLoan">
                <td><span class="p-column-title">ลำดับที่</span>{{ ri + 1 }}</td>
                <td><span class="p-column-title">เลขที่สัญญา</span>{{ dataLoan.loanNo ? dataLoan.loanNo : 'เลขที่สัญญา'
                    }}</td>
                <td><span class="p-column-title">รหัสพนักงาน</span>{{ dataLoan.employeeCode }}</td>
                <td><span class="p-column-title">ชื่อ</span>{{ dataLoan.firstName }}</td>
                <td><span class="p-column-title">นามสกุล</span>{{ dataLoan.lastName }}</td>
                <td><span class="p-column-title">เวลากู้</span>{{ dataLoan.loanTime }}</td>
                <td style="color: #EA3A3D;"><span class="p-column-title">เงินกู้สามัญ</span>{{ dataLoan.loanValue |
                    number }}</td>
                <td style="color: #1AD598;"><span class="p-column-title">เงินกู้คงเหลือ</span>{{ dataLoan.loanBalance |
                    number }}</td>
                <td style="color: #1AD598;"><span class="p-column-title">ยอดที่ต้องชำระต่อเดือน</span>{{
                    dataLoan.loanOrdinary | number }}</td>
                <td><span class="p-column-title">แก้ไข</span>
                    <div class="flex align-items-center justify-content-center gap-2"
                        style="height: 25px; display: flex;">
                        <button pButton pRipple type="button" icon="pi pi-lock" tooltipPosition="top" pTooltip="ปิดหนี้"
                            (click)="onCloseLoan(dataLoan)" class="p-button-rounded p-button-text"></button>
                        <button pButton pRipple type="button" icon="pi pi-file-edit" tooltipPosition="top"
                            pTooltip="แก้ไข" (click)="editLoanEmp(dataLoan)"
                            class="p-button-rounded p-button-text"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">ไม่พบข้อมูลสมาชิกในฐานข้อมูล</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog #cd [appendTo]="'body'" position="center" [draggable]="false" [dismissableMask]="true"
    [style]="{width: '20vw'}" [breakpoints]="{ '1500px': '25vw','1200px': '30vw','900px': '40vw','700px': '50vw','550px': '60vw','450px': '70vw','400px': '90vw' }">
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="cd.accept()">ยืนยัน</button>
        <button type="button" class="btn btn-regis2" (click)="cd.reject()">ยกเลิก</button>
    </ng-template>
</p-confirmDialog>

<p-dialog [(visible)]="displayLoadingPdf" [modal]="true" [style]="{ width: '30vw'}" [breakpoints]="{ '960px': '90vw' }"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 18px; font-weight: bold;">รายงาน</span>
    </ng-template>
    <div style="display: flex;">
        <span>
            โปรดรอสักครู่ PDF อาจใช้เวลาในการเเสดงข้อมูล ประมาณ 1-5 นาที
        </span><br>
        <span style="color: red;">
            * กรุณาปิดหนี้ถึงจะสามารถกู้ได้
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="displayLoadingPdf = false" type="button" class="btn btn-login2">ปิด</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalLoanNew" [modal]="true" [style]="{width: '50vw'}"
    [breakpoints]="{ '1800px': '53vw','1750px': '55vw','1700px': '57vw','1650px': '59vw','1600px': '61vw','1550px': '63vw','1500px': '65vw','1450px': '67vw','1400px': '69vw','1350px': '71vw','1300px': '73vw','1250px': '75vw','1200px': '77vw','900px': '90vw' }"
    [draggable]="false" [resizable]="false" styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span *ngIf="modeLoan === 'ADD'" style="font-size: 18px; font-weight: bold;">สร้างสัญญาเงินกู้ใหม่</span>
            <span *ngIf="modeLoan === 'EDIT'" style="font-size: 18px; font-weight: bold;">เเก้ไขสัญญาเงินกู้</span>
        </div>
    </ng-template>
    <div class="test-child" [formGroup]="formModelLoanNew">
        <div>
            <label class="block">รหัสพนักงาน</label>
            <input class="form-control" pInputText type="text" formControlName="employeeCode" required="true"
                maxlength="5" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                (keyup)="checkSetValueEmp($event)" />
        </div>
        <div>
            <label class="block">ชื่อ-สกุล</label>
            <input class="form-control" pInputText type="text" formControlName="fullName" required="true"
                maxlength="100" />
        </div>
        <div *ngIf="modeLoan === 'ADD'" class="p-num-4">
            <label class="block">ยอดเงินกู้</label> <br>
            <p-inputNumber formControlName="loanValue" inputId="minmaxfraction" mode="decimal" [required]="true"
                [maxlength]="12" (keyup)="checkGuaranteeStock($event)"></p-inputNumber>
        </div>
        <div *ngIf="modeLoan === 'EDIT'" class="p-num-4">
            <label class="block">ยอดเงินกู้</label>
            <input class="form-control" pInputText type="text" formControlName="loanValue" required="true"
                maxlength="50" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
        </div>
        <div *ngIf="modeLoan === 'EDIT'" class="p-num-4">
            <label class="block">ยอดเงินกู้คงเหลือ</label>
            <input class="form-control" pInputText type="text" formControlName="loanBalance" required="true"
                maxlength="50" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
        </div>
        <div>
            <label class="block">อัตราดอกเบี้ยต่อปี</label>
            <input class="form-control" pInputText type="text" formControlName="interestPercent" required="true"
                maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
        </div>
        <div *ngIf="modeLoan === 'ADD'" class="p-num-4">
            <label class="block">ผ่อนชำระ(งวด)</label> <br>
            <p-inputNumber formControlName="loanTime" inputId="minmaxfraction" mode="decimal" [min]="0" [max]="999"
                [required]="true" [maxlength]="3" (keyup)="checkLoanTime($event)"></p-inputNumber>
            <!-- <div *ngIf="this.dataLanTimeFlag" style="display: grid;">
                <div>
                    <button type="button" class="btn btn-regis-loan" (click)="onCalculateLoanNew()">คำนวณ</button>
                </div>
                <div>
                    <label style="color: red;">* เมื่อมีการเปลี่ยนเเปลงยอดเงินกู้ หรือ ผ่อนชำระ(งวด)
                        ต้องคำนวณใหม่ทุกครั้ง</label>
                </div>
            </div> -->
        </div>
        <div *ngIf="modeLoan === 'EDIT'" class="p-num-4">
            <label class="block">ผ่อนชำระ(งวด)</label> <br>
            <input class="form-control" pInputText type="text" formControlName="loanTime" required="true" maxlength="50"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
            <!-- <div *ngIf="this.dataLanTimeFlag" style="display: grid;">
                <div>
                    <button type="button" class="btn btn-regis-loan" (click)="onCalculateLoanNew()">คำนวณ</button>
                </div>
                <div>
                    <label style="color: red;">* เมื่อมีการเปลี่ยนเเปลงยอดเงินกู้ หรือ ผ่อนชำระ(งวด)
                        ต้องคำนวณใหม่ทุกครั้ง</label>
                </div>
            </div> -->
        </div>
        <div *ngIf="this.dataLanTimeFlag" style="display: grid; align-items: flex-end; justify-items: center;">
            <button type="button" class="btn btn-regis-loan" (click)="onCalculateLoanNew()">คำนวณ</button>
        </div>
        <div class="p-num-6">
            <label class="block">เงินหุ้นสะสม</label>
            <input class="form-control" pInputText type="text" formControlName="stockValue" required="true"
                maxlength="50" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
        </div>
        <div>
            <label class="block">ใช้หุ้นค้ำ</label>
            <div *ngIf="this.dataNewLoanFlag">
                <input class="form-control" pInputText type="text" style="color: green;"
                    formControlName="guaranteeStock" required="true" maxlength="50" />
            </div>
            <div *ngIf="!this.dataNewLoanFlag">
                <input class="form-control" pInputText type="text" style="color: red;" formControlName="guaranteeStock"
                    required="true" maxlength="50" />
            </div>
        </div>
        <div [ngStyle]="{'display': this.dataNewLoanFlag ? 'flex': 'none','align-items': 'center'}">
            <div *ngIf="this.dataNewLoanFlag && modeLoan === 'ADD'">
                <p-checkbox formControlName="guaranteeStockFlag" (onChange)="checkStockFlag($event)" [binary]="true"
                    inputId="binary" label="ใช้หุ้นค้ำประกัน"></p-checkbox>
            </div>
            <div *ngIf="modeLoan === 'EDIT'">
                <p-checkbox formControlName="guaranteeStockFlag" (onChange)="checkStockFlag($event)" [binary]="true"
                    inputId="binary" label="ใช้หุ้นค้ำประกัน"></p-checkbox>
            </div>
        </div>
        <div>
            <label class="block">รหัสพนักงานค้ำ1</label>
            <input class="form-control" pInputText type="text" formControlName="guarantorOne"
                [required]="!this.dataNewLoanFlag" maxlength="5"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                (keyup)="checkGuarantorUnique1($event)" [required]="true" />
            <em *ngIf="this.guarantorUniqueFlag1 === 'Y'">
                <span style="font-size: 16px; color: green;">{{ this.guarantorUniqueName1 }}</span>
            </em>
            <em *ngIf="this.guarantorUniqueFlag1 === 'N'">
                <span style="font-size: 16px; color: red;">ใช้ไม่ได้</span>
            </em>
            <em *ngIf="this.guarantorUniqueFlag1 === 'Q'">
                <span style="font-size: 16px; color: red;">ถูกใช้เเล้ว</span>
            </em>
            <em *ngIf="this.guarantorUniqueFlag1 === 'C'">
                <span style="font-size: 16px; color: red;">ไม่สามารถค้ำให้ตนเองได้</span>
            </em>
        </div>
        <div>
            <label class="block">รหัสพนักงานค้ำ2</label>
            <input class="form-control" pInputText type="text" formControlName="guarantorTwo"
                [required]="!this.dataNewLoanFlag" maxlength="5"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                (keyup)="checkGuarantorUnique2($event)" [required]="true" />
            <em *ngIf="this.guarantorUniqueFlag2 === 'Y'">
                <span style="font-size: 16px; color: green;">{{ this.guarantorUniqueName2 }}</span>
            </em>
            <em *ngIf="this.guarantorUniqueFlag2 === 'N'">
                <span style="font-size: 16px; color: red;">ใช้ไม่ได้</span>
            </em>
            <em *ngIf="this.guarantorUniqueFlag2 === 'Q'">
                <span style="font-size: 16px; color: red;">ถูกใช้เเล้ว</span>
            </em>
            <em *ngIf="this.guarantorUniqueFlag2 === 'C'">
                <span style="font-size: 16px; color: red;">ไม่สามารถค้ำให้ตนเองได้</span>
            </em>
        </div>
        <div>
            <label class="block">วันที่เริ่มชำระ</label>
            <input class="form-control" pInputText type="text" formControlName="startDateLoan" required
                maxlength="50" />
        </div>
        <div class="p-num-6">
            <label class="block">ยอดที่ต้องชำระต่อเดือน</label>
            <input class="form-control" pInputText type="text" formControlName="loanOrdinary" required maxlength="11"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
            <div *ngIf="modeLoan === 'EDIT'" style="display: grid;">
                <label style="color: red;">* กรณีอยากให้คืนค่าเดิมให้กดปุ่มยกเลิก</label>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div style="display: flex; justify-content: space-between; align-items: center;" *ngIf="this.dataLanTimeFlag">
            <div>
                <label style="color: red;">* เมื่อมีการเปลี่ยนเเปลงยอดเงินกู้ หรือ ผ่อนชำระ(งวด)
                    ต้องคำนวณใหม่ทุกครั้ง</label>
            </div>
            <div>
                <div *ngIf="modeLoan === 'ADD'">
                    <button type="button" class="btn btn-login2" (click)="insertLoanDetail()"
                        [disabled]="!formModelLoanNew.valid">ยืนยัน</button>
                    <button type="button" class="btn btn-regis2" (click)="onCancleLoan()">ยกเลิก</button>
                </div>
                <div *ngIf="modeLoan === 'EDIT'">
                    <button type="button" class="btn btn-login2" (click)="onDeleteLoanEmp()">ยกเลิกสัญญา</button>
                    <button type="button" class="btn btn-login2" [disabled]="!formModelLoanNew.valid"
                        (click)="updateLoanEmp()">ยืนยัน</button>
                    <button type="button" class="btn btn-regis2" (click)="onCancleLoanEmp()">ยกเลิก</button>
                </div>
            </div>
        </div>
        <div *ngIf="!this.dataLanTimeFlag">
            <div *ngIf="modeLoan === 'ADD'">
                <button type="button" class="btn btn-login2" (click)="insertLoanDetail()"
                    [disabled]="!formModelLoanNew.valid">ยืนยัน</button>
                <button type="button" class="btn btn-regis2" (click)="onCancleLoan()">ยกเลิก</button>
            </div>
            <div *ngIf="modeLoan === 'EDIT'">
                <button type="button" class="btn btn-login2" (click)="onDeleteLoanEmp()">ยกเลิกสัญญา</button>
                <button type="button" class="btn btn-login2" [disabled]="!formModelLoanNew.valid"
                    (click)="updateLoanEmp()">ยืนยัน</button>
                <button type="button" class="btn btn-regis2" (click)="onCancleLoanEmp()">ยกเลิก</button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}"
    [breakpoints]="{ '1366px': '40vw','1000px': '50vw','800px': '60vw','600px': '70vw','430px': '80vw' }"
    [draggable]="false" [resizable]="false" styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span style="font-size: 18px; font-weight: bold;">เรียกเก็บชำระเงินกู้รายเดือน</span>
        </div>
    </ng-template>
    <div [formGroup]="formModelLoan">
        <div class="displayModal">
            <div>
                <label class="block">เดือนที่ชำระเงินกู้</label>
                <input class="form-control" type="text" formControlName="loanMonth" [disabled]="true" />
            </div>
            <div>
                <label class="block">ปีที่ชำระเงินกู้</label>
                <input class="form-control" type="text" formControlName="loanYear" [disabled]="true" />
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="onupdateLoanToMonth()"
            [disabled]="checkNull">ยืนยัน</button>
        <button type="button" class="btn btn-regis2" (click)="onCancle()">ยกเลิก</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayMessageError" [modal]="true" [style]="{ width: '30vw'}"
    [breakpoints]="{ '960px': '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 18px; font-weight: bold;">เเจ้งเตือน</span>
    </ng-template>
    <div style="display: flex;">
        <span>
            {{ this.messageError }}
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="statusQuagmire" (click)="displayInsetLoanNew()" type="button"
            class="btn btn-login2">กู้หล่ม</button>
        <button (click)="displayMessageError = false" type="button" class="btn btn-login2">ปิด</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalBill" [modal]="true" [style]="{width: '30vw'}" [draggable]="false"
    [breakpoints]="{ '1366px': '40vw','1000px': '50vw','800px': '60vw','600px': '70vw','430px': '85vw' }"
    [resizable]="false" styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span style="font-size: 18px; font-weight: bold;">{{ headerName }}</span>
            <i class="bi bi-exclamation-circle" style="font-size: 1rem; padding-left: 0.5rem;" tooltipPosition="bottom"
                pTooltip="กรุณาเลือกเดือนที่จะดู {{headerName}}"></i>
        </div>
    </ng-template>
    <div [formGroup]="formModelBill">
        <div class="test-child2" style="display: grid; justify-content: center; padding: 10px;">
            <div class="col-12 " style="display: flex; justify-content: center;">
                <div class="col-6">
                    <label class="block">เดือน</label>
                    <select class="form-select" aria-label="Default select example" formControlName="month"
                        required="true">
                        <option value="01">มกราคม</option>
                        <option value="02">กุมภาพันธ์</option>
                        <option value="03">มีนาคม</option>
                        <option value="04">เมษายน</option>
                        <option value="05">พฤษภาคม</option>
                        <option value="06">มิถุนายน</option>
                        <option value="07">กรกฎาคม</option>
                        <option value="08">สิงหาคม</option>
                        <option value="09">กันยายน</option>
                        <option value="10">ตุลาคม</option>
                        <option value="11">พฤศจิกายน</option>
                        <option value="12">ธันวาคม</option>
                    </select>
                </div>
                <div style="padding-right: 0.5rem;"></div>
                <div class="col-6">
                    <label class="block">ปี</label>
                    <input class="form-control" type="text" formControlName="year" (keyup)="checkSetValueBill($event)"
                        maxlength="4"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                        [disabled]="true" />
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="onDisplay()">ยืนยัน</button>
        <button type="button" class="btn btn-regis2" (click)="onCancleModalBill()">ยกเลิก</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayLoanNewQuagmire" [modal]="true" [style]="{ width: '30vw'}"
    [breakpoints]="{ '960px': '90vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 18px; font-weight: bold;">กู้หล่ม</span>
    </ng-template>
    <div [formGroup]="formModelLoanNew"
        style="display: grid; justify-content: center;align-items: center; justify-items: center;">
        <div>
            <span style="color: red;">
                *{{ this.messageQuagmire }}
            </span>
        </div>
        <div class="col-4 p-num-4">
            <label class="block">ยอดเงินกู้ที่จะได้รับ</label> <br>
            <div style="display: flex;">
                <p-inputNumber formControlName="loanValueQuagmire" inputId="minmaxfraction" mode="decimal"
                    [required]="true" [maxlength]="12"></p-inputNumber>
                <label class="block" style="padding-left: 1rem;"> บาท </label>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="checkInsetLoanNewQuagmire()" type="button" class="btn btn-login2">ยืนยัน</button>
        <button (click)="displayLoanNewQuagmire = false" type="button" class="btn btn-login2">ปิด</button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>