.btn-group {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #dee2e6;
  width: 18rem;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  .btn {
    width: max-content;
    height: 34px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-login {
    color: #fff;
    background-color: #fe6bba;
  }
}

.card-table {
  border: 5px solid white;
  border-radius: 15px;
  width: 100%;
  background-color: white;
  padding: 2rem;
  margin-top: 10px;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  background: none;
  text-align: center;
  font-weight: normal;
  color: #8690a1;
  font-size: 16px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  text-align: center;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  background: none;
  border-top: none;
}

.btn {
  width: 60px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  margin-top: -5px;
  border-radius: 18px;
}

.btn-login2 {
  width: 140px;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  color: #fff;
  background-color: #fe6bba;
}

.btn-regis2 {
  width: 140px;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  color: #fe6bba;
  border-color: #fe6bba;
  margin-left: 40px;
}

// .div-button-btn {
//   padding-top: 1rem;
//   display: flex;
//   justify-content: space-between;
// }

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-name {
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
}

.card-menu-doc {
  display: none;
}

a.dropdown-toggle {
  text-decoration: none;
  font-size: 20px;
  color: #222121;
}

.dropdown-toggle::after {
  display: none;
}

.test-child {
  display: grid;
  justify-content: center;
}

.test-child {
  label {
    color: #747d8c;
    font-size: 14px;
  }

  input {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border: 1px solid var(--bd3-color);
    border-radius: 8px;
  }
}

:host ::ng-deep .p-inputnumber { 
  width: 250px;
  height: 40px;
  font-size: 16px;
  // border: 1px solid var(--bd3-color);
  // border-radius: 8px;
} 

@media only screen and (max-width: 1366px) {
  :host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 15px;
  }

  :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-size: 14px;
  }

  .btn-group {
    .btn {
      font-size: 14px;
    }
  }

  .flex-name {
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .btn-group {
    display: none;
  }

  .card-menu-doc {
    display: block;
  }

  .div-button-btn {
    justify-content: flex-end;
    margin-top: -50px;
  }
}

@media only screen and (max-width: 600px) {
  .flex {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  :host ::ng-deep p-paginator div {
    font-size: 14px;
  }

  :host ::ng-deep p-paginator div span button {
    font-size: 14px;
  }
}

// @media only screen and (max-width: 600px) {
//   .card-table {
//     padding: 1rem;
//   }
// }