<div *ngIf="admin" class="card-table">
    <div class="card-table-h">
        <p-chip label="การจัดการเงินปันผล" styleClass="mr-2"></p-chip>
        <div class="btn-group-doc">
            <button type="button" class="btn btn-login2" (click)="setDividend()">กำหนดอัตราปันผลหุ้น</button>
            <button type="button" class="btn btn-login" (click)="chackReportMergeAnnouncement('export')">
                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                    <path style="fill:#E2E5E7;"
                        d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z" />
                    <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z" />
                    <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 " />
                    <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
        V416z" />
                    <g>
                        <path style="fill:#FFFFFF;"
                            d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
            c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
             M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z" />
                        <path style="fill:#FFFFFF;"
                            d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
            c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z" />
                        <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
            h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
            c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z" />
                    </g>
                    <path style="fill:#CAD1D8;"
                        d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z" />
                </svg>รายงาน (ประกาศรวม)</button>
            <button type="button" class="btn btn-login" (click)="chackReportSplitAnnouncement('export')">
                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                    <path style="fill:#E2E5E7;"
                        d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z" />
                    <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z" />
                    <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 " />
                    <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
        V416z" />
                    <g>
                        <path style="fill:#FFFFFF;"
                            d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
            c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
             M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z" />
                        <path style="fill:#FFFFFF;"
                            d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
            c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z" />
                        <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
            h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
            c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z" />
                    </g>
                    <path style="fill:#CAD1D8;"
                        d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z" />
                </svg>รายงาน (ประกาศแยก)</button>
            <button type="button" class="btn btn-login" (click)="exportDividendExcel()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 48 48"
                    id="microsoft-excel">
                    <path fill="#185C37"
                        d="M30.1395 23.2093L11.1628 19.8605V44.605C11.1628 45.7351 12.0789 46.6512 13.2089 46.6512H45.9539C47.0839 46.6512 48 45.7351 48 44.605V35.4884L30.1395 23.2093Z">
                    </path>
                    <path fill="#21A366"
                        d="M30.1395 2H13.2089C12.0789 2 11.1628 2.91608 11.1628 4.04613V13.1628L30.1395 24.3256L40.186 27.6744L48 24.3256V13.1628L30.1395 2Z">
                    </path>
                    <path fill="#107C41" d="M11.1628 13.1628H30.1395V24.3256H11.1628V13.1628Z"></path>
                    <path fill="#000"
                        d="M24.7446 10.9302H11.1628V38.8372H24.7446C25.8731 38.8335 26.787 37.9195 26.7907 36.791V12.9763C26.787 11.8478 25.8731 10.9338 24.7446 10.9302Z"
                        opacity=".1"></path>
                    <path fill="#000"
                        d="M23.6283 12.0465H11.1628V39.9535H23.6283C24.7568 39.9498 25.6707 39.0359 25.6744 37.9074V14.0926C25.6707 12.9641 24.7568 12.0502 23.6283 12.0465Z"
                        opacity=".2"></path>
                    <path fill="#000"
                        d="M23.6283 12.0465H11.1628V37.7209H23.6283C24.7568 37.7173 25.6707 36.8033 25.6744 35.6748V14.0926C25.6707 12.9641 24.7568 12.0502 23.6283 12.0465Z"
                        opacity=".2"></path>
                    <path fill="#000"
                        d="M22.512 12.0465H11.1628V37.7209H22.512C23.6405 37.7173 24.5545 36.8033 24.5581 35.6748V14.0926C24.5545 12.9641 23.6405 12.0502 22.512 12.0465Z"
                        opacity=".2"></path>
                    <path fill="url(#paint0_linear_147648_1454)"
                        d="M2.04613 12.0465H22.512C23.642 12.0465 24.5581 12.9626 24.5581 14.0926V34.5585C24.5581 35.6885 23.642 36.6046 22.512 36.6046H2.04613C0.916083 36.6046 0 35.6886 0 34.5585V14.0926C0 12.9626 0.916083 12.0465 2.04613 12.0465Z">
                    </path>
                    <path fill="#fff"
                        d="M6.3371 30.9764L10.6415 24.3066L6.69766 17.6737H9.87012L12.0223 21.9156C12.221 22.3185 12.3572 22.6177 12.4309 22.8153H12.4588C12.6002 22.4938 12.749 22.1816 12.9053 21.8787L15.2059 17.6759H18.1183L14.074 24.2698L18.221 30.9764H15.1222L12.6363 26.3204C12.5192 26.1223 12.4198 25.9142 12.3393 25.6987H12.3025C12.2297 25.9099 12.1331 26.1121 12.0145 26.3014L9.45488 30.9764H6.3371Z">
                    </path>
                    <path fill="#33C481" d="M45.9539 2H30.1395V13.1628H48V4.04613C48 2.91608 47.0839 2 45.9539 2Z">
                    </path>
                    <path fill="#107C41" d="M30.1395 24.3256H48V35.4884H30.1395V24.3256Z"></path>
                    <defs>
                        <linearGradient id="paint0_linear_147648_1454" x1="4.266" x2="20.292" y1="10.448" y2="38.203"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#18884F"></stop>
                            <stop offset=".5" stop-color="#117E43"></stop>
                            <stop offset="1" stop-color="#0B6631"></stop>
                        </linearGradient>
                    </defs>
                </svg>รายงานปันผล EXCEl</button>
        </div>
        <div class="card-menu-doc">
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
            <a class="dropdown-toggle" (click)="menu.toggle($event)">
                <i class="uil uil-ellipsis-v"></i>
            </a>
        </div>
    </div>
    <!-- <div style="font-family: 'Kanit';"> -->
    <p-table responsiveLayout="stack" #dt2 dataKey="id" [value]="dataDividendDetailAll" [loading]="loadingAll"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
        [globalFilterFields]="['employeeCode', 'fullName', 'departmentName', 'bankAccountReceivingNumber']"
        selectionMode="single" [tableStyle]="{'max-width': '100%'}" [rowsPerPageOptions]="[10, 50, 100]">
        <ng-template pTemplate="caption">
            <div class="div-flex-header">
                <span class="flex-name"> ตารางเงินปันผล </span>
                <span class="p-input-icon-left ml-auto">
                    <i class="bi bi-search" style="color: #979797; display: flex;"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="ค้นหา"
                        style="width: 10rem; border-radius: 10px; height: 40px; font-size: 14px; font-weight: 300;" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <!-- <th style="width:6%">ลำดับที่</th> -->
                <th>หน่วยงาน</th>
                <!-- <th>รหัสพนักงาน</th> -->
                <th>ชื่อพนักงาน</th>
                <th>เลขที่บัญชี / ธนาคาร</th>
                <th>ค่าหุ้นสะสม</th>
                <th>ปันผลหุ้น</th>
                <th>ดอกเบี้ยสะสม</th>
                <th>ปันผลดอกเบี้ย</th>
                <th>รวมปันผล</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stockDividendAll let-i="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="stockDividendAll">
                <!-- <td><span class="p-column-title">ลำดับที่</span>{{ i+1 }}</td> -->
                <td style="color: #652d47; font-weight: 500;"><span class="p-column-title">หน่วยงาน</span>{{
                    stockDividendAll.departmentName }}</td>
                <!-- <td><span class="p-column-title">รหัสพนักงาน</span>{{ stockDividendAll.employeeCode }}</td> -->
                <td><span class="p-column-title">ชื่อพนักงาน</span>
                    <div class="div-full" style="display: flex; gap: 0.5rem;">
                        <div class="div-full-text">
                            <div>{{ stockDividendAll.fullName }}</div>
                            <div style="font-size: 12px; color: #6b7280; font-weight: 300;">รหัสพนักงาน : {{
                                stockDividendAll.employeeCode
                                }}
                            </div>
                        </div>
                    </div>
                </td>
                <td><span class="p-column-title">เลขที่บัญชี / ธนาคาร</span>
                    <div class="div-full" style="display: flex; gap: 0.5rem;">
                        <div class="div-full-text">
                            <div>{{ stockDividendAll.bankAccountReceivingNumber }}</div>
                            <div style="font-size: 12px; color: #6b7280; font-weight: 300;">ธ. {{
                                stockDividendAll.bankName }}</div>
                        </div>
                    </div>
                </td>
                <td style="color: #3A36DB;"><span class="p-column-title">ค่าหุ้นสะสม</span>{{
                    stockDividendAll.stockAccumulate | number }}</td>
                <td style="color: #6FAF00;"><span class="p-column-title">ปันผลหุ้น</span>{{
                    stockDividendAll.stockDividend | number }}</td>
                <td style="color: #0094FF;"><span class="p-column-title">ดอกเบี้ยสะสม</span>{{
                    stockDividendAll.cumulativeInterest | number }}</td>
                <td style="color: #6FAF00;"><span class="p-column-title">ปันผลดอกเบี้ย</span>{{
                    stockDividendAll.interestDividend | number }}</td>
                <td style="color: #FF6B00;"><span class="p-column-title">รวมปันผล</span>{{
                    stockDividendAll.totalDividend | number }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">ไม่พบข้อมูลเงินปันผล</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- </div> -->
<p-dialog [(visible)]="displayModalDividend" [modal]="true" [style]="{width: '40vw'}"
    [breakpoints]="{ '1400px': '50vw','1000px': '60vw','800px': '70vw','700px': '90vw' }" [draggable]="false"
    [resizable]="false" styleClass="customDialog">
    <!-- <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span style="font-size: 18px; font-weight: bold;">กำหนดอัตราปันผลหุ้น</span>
            <i class="pi pi-file-edit" (click)="ondispalyEditConfigDividend()"
                style="font-size: 1rem; padding-left: 1rem; cursor: pointer;"></i>
            <i class="pi pi-info-circle" style="font-size: 1rem; padding-left: 0.5rem;" tooltipPosition="bottom"
                pTooltip="เปลี่ยนแปลงเงินกู้รายเดือนของสมาชิกทั้งหมด"></i>
        </div>
    </ng-template> -->
    <ng-template pTemplate="header">
        <div style="display: flex; gap: 1rem;">
            <span style="font-size: 18px; font-weight: 500; color: #343a40;">กำหนดอัตราปันผลหุ้น</span>
            <div style="cursor: pointer;" (click)="ondispalyEditConfigDividend()" tooltipPosition="top"
                pTooltip="เเก้ไขกำหนดอัตราปันผลหุ้น">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.38184 13.6898L3.7106 18.2671C3.52586 18.4481 3.35128 18.7873 3.30794 19.0366L3.02995 20.809C2.92771 21.4523 3.36039 21.9077 3.99709 21.8269L5.75118 21.6081C5.99813 21.573 6.35115 21.4081 6.52293 21.2269L11.1941 16.6497C11.999 15.861 12.3916 14.9332 11.2463 13.7278C10.1137 12.5359 9.18676 12.9011 8.38184 13.6898Z"
                        stroke="#6b7280" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M7.70874 14.3492C8.07217 15.7776 9.14106 16.9026 10.5337 17.3224" stroke="#6b7280"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14 6H10C8 6 8 5 8 4C8 2 9 2 10 2H14C15 2 16 2 16 4C16 6 15 6 14 6Z" stroke="#6b7280"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10 22H15C20 22 21 20 21 16V10C21 5.44002 19.33 4.20002 16 4.02002" stroke="#6b7280"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8 4.02002C4.67 4.20002 3 5.43002 3 10V15" stroke="#6b7280" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </ng-template>
    <div [formGroup]="formModelDividend" class="dialog-body-f">
        <!-- <div class="test-child"> -->
        <!-- <div style="padding: 0rem 2rem 2rem 2rem;"> -->
        <!-- <div style="display: grid; gap: 1rem; padding: 1rem;"> -->
        <div>
            <label class="block">ปันผลหุ้น</label>
            <div class="dialog-body-t">
                <input class="form-control" pInputText type="text" formControlName="stockDevidend" maxlength="5" readonly 
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" style="background-color: #e9ecef !important;" />
                <!-- <p-inputNumber formControlName="stockDevidend" inputId="minmaxfraction" mode="decimal" [required]="true"
                    [maxlength]="6" [minFractionDigits]="2" [maxFractionDigits]="5" ></p-inputNumber> -->
                <!-- <div style="padding-left: 0.5rem;
                            justify-content: center;
                            align-items: center;
                            display: flex;"> -->
                <span style="color: #363738;">%</span>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <label class="block">ปันผลเงินกู้</label>
            <div class="dialog-body-t">
                <input class="form-control" pInputText type="text" formControlName="interestDevidend" maxlength="5" readonly 
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" style="background-color: #e9ecef !important;"/>
                <!-- <p-inputNumber formControlName="interestDevidend" inputId="minmaxfraction" mode="decimal"
                    [required]="true" [maxlength]="6" [minFractionDigits]="2"
                    [maxFractionDigits]="5"></p-inputNumber> -->
                <!-- <div style="padding-left: 0.5rem; 
                            justify-content: center;
                            align-items: center;
                            display: flex;"> -->
                <span style="color: #363738;">%</span>
                <!-- </div> -->
            </div>
        </div>
        <div>
            <label class="block">วงเงินที่ต้องใช้</label>
            <!-- <input class="form-control" pInputText type="text" formControlName="amountRequired" maxlength="5"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" /> -->
            <p-inputNumber formControlName="amountRequired" inputId="minmaxfraction" mode="decimal" [required]="true"
                [maxlength]="12"></p-inputNumber>
        </div>
        <div>
            <label class="block">ยอดจัดสรร</label>
            <input class="form-control" pInputText type="text" formControlName="allotmentAmount" maxlength="5"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
        </div>
        <div>
            <label class="block">เงินคงเหลือ</label>
            <input class="form-control" pInputText type="text" formControlName="balance" maxlength="5"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
        </div>
        <div style="display: flex; flex-direction: column; gap: 0.2rem;">
            <label class="block">กำหนด</label>
            <button type="button" class="btn btn-login2" (click)="displayModalPublish = true">กำหนดการเผยเเพร่</button>
        </div>
        <div>
            <!-- <label class="block">กำหนด</label> -->
            <button type="button" class="btn btn-login" (click)="calculateDividend()"
                [disabled]="!formModelDividend.valid">คำนวน</button>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
    <ng-template pTemplate="footer">
        <div class="footer-button">
            <!-- <button type="button" class="btn btn-login2" (click)="calculateDividend()"
                [disabled]="!formModelDividend.valid">คำนวน</button> -->
            <button type="button" class="btn btn-login2" (click)="clearDividend()">ล้างข้อมูล</button>
            <button type="button" class="btn btn-regis2" (click)="onCancleDividend()">ยกเลิก</button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalDividendConfig" [modal]="true" [style]="{width: '25vw'}"
    [breakpoints]="{ '1000px': '50vw', '600px': '70vw', '450px': '80vw' }" [draggable]="false" [resizable]="false"
    styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <span style="font-size: 18px; font-weight: 500; color: #343a40;">กำหนดอัตราปันผลหุ้น</span>
            <!-- <i class="pi pi-info-circle" style="font-size: 1rem; padding-left: 0.5rem;" tooltipPosition="bottom"
                pTooltip="เมื่อทำการเปลี่ยนเเปลงอัตราปันผลหุ้น จะมีการคำนวณใหม่ทั้งระบบที่เกี่ยวกับเงินปันผล"></i> -->
            <div style="font-size: 14px;" tooltipPosition="bottom"
                pTooltip="จะมีการคำนวณใหม่ทั้งระบบที่เกี่ยวกับเงินปันผล">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                        stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 8V13" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M11.9945 16H12.0035" stroke="#6b7280" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </ng-template>
    <div [formGroup]="formModelDividend"
        style="display: flex; flex-direction: column; justify-content: center; padding: 0 1rem; gap: 1rem;">
        <!-- <div class="test-child" style="display: grid; justify-content: center; padding: 10px;"> -->
        <!-- <div style="padding: 0rem 2rem 2rem 2rem;"> -->
        <!-- <div style="display: grid; gap: 1rem; padding-top: 1rem;"> -->
        <div class="flex gap-1" style="flex-direction: column;">
            <label class="block">ปันผลหุ้น</label>
            <div class="dialog-body-t">
                <p-inputNumber formControlName="stockDevidend" inputId="minmaxfraction" mode="decimal" [required]="true"
                    [maxlength]="6" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"></p-inputNumber>

                <span style="color: #363738;">%</span>
            </div>
        </div>
        <div class="flex gap-1" style="flex-direction: column;">
            <label class="block">ปันผลเงินกู้</label>
            <div class="dialog-body-t">
                <p-inputNumber formControlName="interestDevidend" inputId="minmaxfraction" mode="decimal"
                    [required]="true" [maxlength]="6" mode="decimal" [minFractionDigits]="2"
                    [maxFractionDigits]="5"></p-inputNumber>

                <span style="color: #363738;">%</span>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
    <ng-template pTemplate="footer">
        <div class="footer-button">
            <button type="button" class="btn btn-login2" (click)="onEditConfigDividend()">ตกลง</button>
            <button type="button" class="btn btn-regis2" (click)="onCancleEditConfigDividend()">ยกเลิก</button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalPublish" [modal]="true" [style]="{width: '25vw'}"
    [breakpoints]="{ '1000px': '50vw', '600px': '70vw', '450px': '80vw' }" [draggable]="false" [resizable]="false"
    styleClass="customDialog">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <span style="font-size: 18px; font-weight: 500;">การเผยเเพร่</span>
            <!-- <i class="pi pi-info-circle" style="font-size: 1rem; padding-left: 0.5rem;" tooltipPosition="bottom"
                pTooltip="จะเป็นการกำหนดให้เผยเเพร่เเก่สมาชิกทุกคน"></i> -->
            <div style="font-size: 14px;" tooltipPosition="bottom" pTooltip="จะเป็นการกำหนดให้เผยเเพร่เเก่สมาชิกทุกคน">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                        stroke="#6b7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 8V13" stroke="#6b7280" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M11.9945 16H12.0035" stroke="#6b7280" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </ng-template>
    <div [formGroup]="formModelDividend">
        <!-- <div class="col-12"> -->
        <div class="flex align-items-center" style="border: 2px solid #f0f2f2; border-radius: 6px;
            padding: 1rem; display: flex; align-content: center; justify-content: center;">
            <div class="flex flex-wrap gap-3">
                <div class="flex gap-1">
                    <p-radioButton name="statusPublishDividend" value="Y" formControlName="statusPublishDividend"
                        inputId="ingredient1"></p-radioButton>
                    <label for="ingredient1" class="ml-2">เผยเเพร่</label>
                </div>
                <div class="flex gap-1">
                    <p-radioButton name="statusPublishDividend" value="N" formControlName="statusPublishDividend"
                        inputId="ingredient2"></p-radioButton>
                    <label for="ingredient2" class="ml-2">ไม่เผยเเพร่</label>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <ng-template pTemplate="footer">
        <div class="footer-button">
            <button type="button" class="btn btn-login2" (click)="onEditConfigPublish()">ตกลง</button>
            <button type="button" class="btn btn-regis2" (click)="onCancleEditConfigPublish()">ยกเลิก</button>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>