<div class="div-news">
    <div class="add-news" [formGroup]="newsModel">
        <p-chip label="เพิ่มข่าวสาร" styleClass="mr-2"></p-chip>
        <div class="div-news-img">
            <div class="div-img">
                <p-chip label="รูปหลัก" styleClass="mr-2"></p-chip>
                <div class="profile-pic-wrapper">
                    <div class="pic-holder">
                        <img id="profilePic" class="pic" [src]="imageCover">
                        <input class="uploadProfileInput" type="file" (change)="onNewsPicChange($event)" id="newsPhoto"
                            accept="image/*" style="opacity: 0;" />
                        <label for="newsPhoto" class="upload-file-block">
                            <div class="text-center">
                                <div class="mb-2">
                                    <i class="uil uil-cloud-upload fa-2x"></i>
                                </div>
                                <div class="text-uppercase">
                                    อัพโหลด
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-text">
                <div class="text-header">
                    <p-chip label="รายละเอียด" styleClass="mr-2"></p-chip>
                    <button type="button" (click)="onAccept()" class="btn btn-login">บันทึก</button>
                </div>
                <div class="text-body">
                    <div>
                        <label class="block">เรื่อง</label>
                        <input class="form-control" type="text" formControlName="name" />
                    </div>
                    <div>
                        <label class="block">รายละเอียด</label>
                        <textarea class="form-control" type="text" formControlName="description" rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <p-table responsiveLayout="stack" #dt2 [value]="listEmp" dataKey="id" editMode="row" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading" [paginator]="true"
            selectionMode="single" currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
            [globalFilterFields]="['name']" [tableStyle]="{'max-width': '100%'}">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-chip label="การจัดการข่าวสาร" styleClass="mr-2"></p-chip>
                    <span class="p-input-icon-left ml-auto">
                        <i class="bi bi-search" style="color: #979797; display: flex;"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                            placeholder="ค้นหา"
                            style="width: 12rem; border-radius: 10px; height: 45px; font-size: 15px; border: 1px solid var(--bd3-color);" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:20%">เรื่อง</th>
                    <th style="width:20%">รายละเอียด</th>
                    <th style="width:20%">วันที่ข่าวสาร</th>
                    <th style="width:20%">แก้ไข</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listEmp let-i="rowIndex" let-columns="columns">
                <tr [pEditableRow]="listEmp">
                    <td>
                        <span class="p-column-title">เรื่อง</span>
                        <span class="d-inline-block text-truncate topic">
                            {{ listEmp.name }}
                        </span>
                    </td>
                    <td>
                        <span class="p-column-title">รายละเอียด</span>
                        <span class="d-inline-block text-truncate description">
                            {{ listEmp.description }}
                        </span>
                    </td>
                    <td><span class="p-column-title">วันที่ข่าวสาร</span>{{ pipeDateTHD(listEmp.createDate) }}</td>
                    <td><span class="p-column-title">แก้ไข</span>
                        <div class="flex align-items-center justify-content-center gap-2"
                            style="height: 25px; display: flex;">
                            <button pButton pRipple type="button" icon="pi pi-file-edit" tooltipPosition="top"
                                pTooltip="แก้ไข" (click)="onEdit(listEmp.id)"
                                class="p-button-rounded p-button-text"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" tooltipPosition="top" pTooltip="ลบ"
                                (click)="onDelete(listEmp.id)" class="p-button-rounded p-button-text"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">ไม่พบข้อมูลข่าวสารในฐานข้อมูล</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="แก้ไขข่าวสาร" [(visible)]="detail" [modal]="true" [style]="{ width: '80vw' }"
    [breakpoints]="{ '1600px': '85vw','1366px': '90vw' }" [draggable]="false"
    [resizable]="false" (onHide)="clearDialog()">
    <div [formGroup]="detailModel">
        <div class="div-detail-news">
            <div class="div-img">
                <p-chip label="รูปประจำตัว" styleClass="mr-2"></p-chip>
                <div class="profile-pic-wrapper">
                    <div class="pic-holder">
                        <img id="profilePic" class="pic" [src]="imageCoverDetail">
                        <input class="uploadProfileInput" type="file" (change)="onProfilePicChange($event)"
                            id="newProfilePhoto" accept="image/*" style="opacity: 0;" />
                        <label for="newProfilePhoto" class="upload-file-block">
                            <div class="text-center">
                                <div class="mb-2">
                                    <i class="bi bi-camera-fill fa-2x"></i>
                                </div>
                                <div class="text-uppercase">
                                    อัพโหลด
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-text">
                <div class="text-header">
                    <p-chip label="ข้อมูลประจำตัว" styleClass="mr-2"></p-chip>
                    <div style="display: flex; grid-gap: 5px;">
                        <button type="button" (click)="onAcceptDetail()" class="btn btn-login">บันทึก</button>
                        <button type="button" (click)="onClearDetail()" class="btn btn-regis">ยกเลิก</button>
                    </div>
                </div>
                <div class="text-body">
                    <div>
                        <label class="block">เรื่อง</label>
                        <input class="form-control" type="text" formControlName="name" />
                    </div>
                    <div>
                        <label class="block">รายละเอียด</label>
                        <textarea class="form-control" type="text" formControlName="description" rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-toast></p-toast>