@import "primeicons/primeicons.css";
* {
  box-sizing: border-box;
  font-family:
    Kanit,
    Noto Sans,
    Noto Sans Thai,
    sans-serif;
}

.div-news {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.add-news {
  background: #fff;
  border-radius: 10px;
  // padding: 1.5rem;
}

.div-news-img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // margin-top: 2rem;
  width: 100%;
}

.div-img {
  border: 2px solid #f0f2f2;
  border-radius: 10px;
  padding: 1.5rem;
  // height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.div-img-detail {
  border: 2px solid #f0f2f2;
  border-radius: 10px;
  padding: 1.5rem;
  // height: fit-content;
  width: 100%;
  // height: 23.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-pic-detail {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.pic-detail {
  display: flex;
  justify-content: center;
  border: 2px solid #f0f2f2;
  border-radius: 15px;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
}

.image-detail {
  width: 8rem;
  height: 8rem;
  border: 2px solid #f0f2f2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.image-detail-deleted {
  background: #fe6bba;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: fixed;
  cursor: pointer;
}

.image-detail svg {
  width: 12px;
  path {
    stroke: #fff;
    stroke-width: 2px;
  }
  rect {
    stroke: #fff;
  }
}

.image-detail-base {
  width: 100%;
  // border: 2px solid #f0f2f2;
  border-radius: 15px;
}

// .profile-pic-wrapper {
//   width: 30rem;
//   height: 15rem;
//   // border-radius: 10px;
//   background: #fff;
//   margin: 1.5rem 0;
// }

.div-img-detail .profile-pic-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  margin: 1.5rem;
}

.pic-holder {
  // text-align: center;
  // position: relative;
  // border-radius: 20px;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  // border: 3px solid #f0f2f2;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: center;
  /* text-align: center; */
  position: relative;
  border-radius: 20px;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
  border: 2px solid #f0f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  height: 17rem;
}

.pic-holder .pic {
  height: 100%;
  // width: 100%;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 14px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder input.uploadProfileInput:focus {
  display: none;
}

.div-text {
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #f0f2f2;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

.text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-body {
  display: grid;
  grid-gap: 1rem;
}

// .text-body label {
//   font-size: 15px;
// }

.text-body input {
  border: 1px solid var(--bd3-color);
  font-size: 14px;
  border-radius: 6px;
}

.text-body textarea {
  border: 1px solid var(--bd3-color);
  font-size: 14px;
  border-radius: 6px;
}

.card {
  border: 0px solid white;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 14px;
}

input,
select {
  font-size: 14px;
  height: 40px;
}

:host ::ng-deep .dialog-add-news .p-dialog .p-dialog-header-icons {
  display: none;
}

// :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   background: none;
//   text-align: center;
//   font-weight: normal;
//   color: #8690a1;
//   font-size: 14px;
// }

// :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
//   text-align: center;
//   font-size: 14px;
// }

// :host ::ng-deep .p-datatable .p-datatable-header {
//   background: none;
//   border-top: none;
// }

// :host ::ng-deep .p-paginator .p-dropdown {
//   height: 2.8rem;
//   width: 5rem;
//   border-radius: 10px;
// }

// :host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
//   margin-top: -2px;
// }

// :host ::ng-deep .p-dropdown .p-dropdown-trigger {
//   width: 2.5rem;

//   span {
//     margin-top: 3px;
//   }
// }

:host ::ng-deep p-paginator div {
  font-size: 14px;
  justify-content: flex-end;

  p-dropdown div .p-dropdown-trigger {
    display: flex;
    justify-content: center;
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: none;
  font-weight: normal;
  color: #6b7280;
  font-size: 14px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 14px;
  padding: 0.8rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  background: none;
  border-top: none;
}

:host ::ng-deep .p-datatable .p-paginator-bottom,
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  font-size: 14px;
  color: #495057;
  border-width: 0;
}

:host ::ng-deep .p-paginator .p-dropdown {
  height: 2.8rem;
  width: 5rem;
}

:host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
  font-size: 14px;
  font-family:
    Kanit,
    Noto Sans,
    Noto Sans Thai,
    sans-serif;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  width: 2.5rem;
  span {
    margin-top: 3px;
  }
}

.div-flex-header {
  display: flex;
  justify-content: space-between;
}

// :host ::ng-deep .p-num-4 {
//   .p-inputnumber-input {
//     width: 9.5rem !important;
//     height: 2.8rem;
//   }
// }

// :host ::ng-deep .p-num-6 {
//   .p-inputnumber-input {
//     width: 16.9rem;
//   }
// }

// :host ::ng-deep p-paginator div {
//   display: flex;
//   justify-content: flex-end;

//   p-dropdown div .p-dropdown-trigger {
//     display: flex;
//     justify-content: center;
//   }
// }

.topic {
  font-size: 14px;
  max-width: 500px;
}

.description {
  font-size: 14px;
  max-width: 500px;
}

.btn {
  width: fit-content;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn-login {
  color: #fff;
  background-color: #fe6bba;
  display: flex;
  gap: 5px;
}

.btn-regis {
  color: #fe6bba;
  border-color: #f3f2ed;
  background-color: #f3f2ed;
}

.div-button-edit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.div-flex-header svg {
  width: 18px;
  path {
    stroke: #fff;
    stroke-width: 2px;
  }
  rect {
    stroke: #fff;
  }
}

.div-button-edit svg {
  width: 18px;
  path {
    stroke: #6b7280;
    stroke-width: 2px;
  }
  rect {
    stroke: #6b7280;
  }
}

// edit
.div-detail-news {
  display: flex;
  grid-gap: 1rem;
  width: 100%;
}

.edit-news {
  background: #fff;
  margin-top: 0.5rem;
  border-radius: 10px;
  padding: 2rem;
  width: 50%;

  .div-text {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1600px) {
  .topic,
  .description {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1400px) {
  .topic,
  .description {
    max-width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .div-news-img {
    display: flex;
    flex-direction: column;
  }

  .div-detail-news {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .topic,
  .description {
    max-width: 200px;
  }
}

@media only screen and (max-width: 450px) {
  .topic,
  .description {
    max-width: 150px;
  }

  .profile-pic-wrapper {
    width: 220px;
    height: 210px;
  }

  .div-flex-header {
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 390px) {
  .topic,
  .description {
    max-width: 120px;
  }

  .profile-pic-wrapper {
    width: 200px;
    height: 200px;
  }
}

// @media screen and (max-width: 1366px) {
//   .text-body label {
//     font-size: 14px;
//   }

//   .text-body input {
//     font-size: 15px;
//   }

//   .text-body textarea {
//     font-size: 15px;
//   }

//   .topic {
//     font-size: 15px;
//   }

//   .description {
//     font-size: 15px;
//   }

//   :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//     font-size: 15px;
//   }

//   :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
//     font-size: 15px;
//   }
// }

// @media only screen and (max-width: 1000px) {
//   .div-news-img {
//     flex-direction: column;
//   }

//   .div-detail-news {
//     flex-direction: column;
//   }
// }

// @media only screen and (max-width: 750px) {
//   .div-news-img {
//     margin-top: 1rem;
//   }

//   .topic {
//     max-width: 200px;
//   }

//   .description {
//     max-width: 200px;
//   }

//   :host ::ng-deep p-paginator div {
//     font-size: 14px;
//   }

//   :host ::ng-deep p-paginator div span button {
//     font-size: 14px;
//   }
// }

// @media only screen and (max-width: 560px) {
//   .flex {
//     flex-direction: column;
//     grid-gap: 10px;
//   }
// }

// @media only screen and (max-width: 500px) {
//   .profile-pic-wrapper {
//     width: 200px;
//     height: 200px;
//     margin: 1rem;
//   }

//   .topic {
//     max-width: 100px;
//   }

//   .description {
//     max-width: 100px;
//   }
// }

// @media only screen and (max-width: 430px) {
//   .add-news {
//     padding: 1rem;
//   }

//   .card {
//     padding: 0.5rem;
//   }
// }

// @media only screen and (max-width: 390px) {
//   .profile-pic-wrapper {
//     width: 180px;
//     height: 180px;
//   }
// }
