<div class="pageFull">
  <img class="business" src="assets/images/business.png">
  <img class="business-v6" src="assets/images/business-v2.png">
  <div class="page-landing">
    <p style="font-size: 50px; font-weight: bold; color: #ff4aab;">เทศบาลนครเชียงใหม่</p>
    <p style="font-size: 18px; text-indent: 2em; letter-spacing: 0.5px; line-height: 1.8; margin-top: 30px; color: #4b4b4b;"> กองทุนสวัสดิการพนักงานและลูกจ้าง เทศบาลนครเชียงใหม่ ต้องการที่จะพัฒนาโปรแกรมระบบงานกองทุน
      สวัสดิการพนักงานฯ ให้มีประสิทธิ์ภาพทดแทนโปรแกรมระบบงานเดิมที่ใช้มานานรวมทั้งเพื่อพัฒนาระบบงานเพิ่มเติมให้
      สามารถรองรับกับเทคโนโลยีสารสนเทศในปัจจุบันและอนาคตได้ </p> 
      
    <div class="mb-3">
        <button type="button" class="btn btn-login" (click)="clickLogin()">เข้าสู่ระบบ</button>
        <button type="button" class="btn btn-regis" routerLinkActive="active" routerLink="/register">สมัครสมาชิก</button>
    </div>
  </div>
</div>
