* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  margin: 0;
}

.pageFull {
  background: #fff;
  position: absolute;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}

.business-v6 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
  grid-gap: 5%;
}

.business {
  width: 900px;
  z-index: 1;
}

.page-landing {
  width: 600px;
  display: grid;
  justify-items: center;
  grid-gap: 25px;

  p {
    margin-bottom: 0vh;
  }

  .landing-name {
    font-size: 60px;
    font-weight: bold;
    color: #ff4aab;
  }

  .landing-detail {
    width: 550px;
    font-size: 20px;
    text-indent: 2em;
    letter-spacing: 0.5px;
    line-height: 1.8;
    color: #4b4b4b;
  }

  .landing-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
  }

  .btn {
    width: 250px;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    border-radius: 20px;
    z-index: 1;
  }

  .btn-login {
    color: #fff;
    background-color: #fe6bba;
  }

  .btn-regis {
    color: #fe6bba;
    border-color: #fe6bba;
    background-color: #ffffff48;
  }
}

@media only screen and (max-width: 1680px) {
  .pageFull {
    .business {
      width: 800px;
    }

    .landing-info {
      margin: 4% auto;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .pageFull {
    .landing-info {
      margin: 3% auto;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .pageFull {
    .business {
      width: 700px;
    }

    .landing-info {
      margin: 6% auto;
      .page-landing {
        .landing-name {
          font-size: 55px;
        }

        .landing-detail {
          width: 500px;
          font-size: 18px;
        }
      }
    }

    .landing-btn {
      width: 90%;
    }

    .btn {
      width: 230px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .pageFull {
    .business {
      width: 700px;
    }

    .landing-info {
      margin: 7% auto;
      grid-gap: 2%;
      .page-landing {
        .landing-name {
          font-size: 55px;
        }
      }
    }

    .btn {
      width: 220px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .pageFull {
    .business {
      width: 700px;
    }

    .landing-info {
      margin: 10% auto;
      grid-gap: 2%;
      .page-landing {
        .landing-name {
          font-size: 50px;
        }

        .landing-detail {
          width: 480px;
          font-size: 17px;
        }
      }
    }

    .btn {
      width: 210px;
    }
  }
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
  .pageFull {
    .landing-info {
      margin: 4% auto;
    }
  }
}

@media only screen and (max-width: 1240px) {
  .pageFull {
    .landing-info {
      margin: 10% auto;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .pageFull {
    .business {
      width: 650px;
    }
    .landing-info {
      margin: 10% auto;
      .page-landing {
        .landing-name {
          font-size: 45px;
        }

        .landing-detail {
          width: 428px;
          font-size: 16px;
        }
      }
    }

    .landing-btn {
      width: 80%;
      margin: 10px auto;
    }

    .btn {
      width: 180px;
      font-weight: 500;
      font-size: 18px;
      height: 45px;
      border-radius: 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .pageFull {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .business {
      width: 550px;
      z-index: 1;
    }

    .page-landing {
      display: grid;
      justify-items: center;
      grid-gap: 20px;

      .landing-name {
        font-size: 50px;
        font-weight: bold;
        color: #ff4aab;
        margin-top: 30px;
      }

      .landing-detail {
        width: 460px;
        font-size: 20px;
      }

      .landing-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 15px;
      }

      .btn {
        width: 400px;
        font-weight: 500;
        font-size: 18px;
        height: 45px;
        border-radius: 20px;
      }

      .btn-login {
        color: #fff;
        background-color: #fe6bba;
      }
    }
  }
}

@media only screen and (max-width: 834px) {
  .pageFull {
    .landing-info {
      grid-gap: 1%;
      .business {
        width: 500px;
      }
      .page-landing {
        .landing-detail {
          width: 430px;
        }
      }
    }

    .btn {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .pageFull {
    .landing-info {
      grid-gap: 1%;
      .business {
        width: 480px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .pageFull {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-info {
    display: flex;
    flex-direction: column;

    .business {
      width: 350px;
      z-index: 1;
    }

    .page-landing {
      display: grid;
      justify-items: center;
      grid-gap: 20px;

      .landing-name {
        font-size: 35px;
        font-weight: bold;
        color: #ff4aab;
        margin-top: 10px;
      }

      .landing-detail {
        width: 300px;
        font-size: 16px;
        text-indent: 2em;
        letter-spacing: 0.5px;
        line-height: 1.8;
        color: #4b4b4b;
      }

      .landing-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 10px;
      }

      .btn {
        width: 300px;
        font-weight: 500;
        font-size: 16px;
        height: 45px;
        border-radius: 20px;
      }

      .btn-login {
        color: #fff;
        background-color: #fe6bba;
      }

      .btn-regis {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .pageFull {
    .landing-info {
      .business {
        width: 360px;
      }
      .page-landing {
        .landing-name {
          font-size: 30px;
        }

        .landing-detail {
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .pageFull {
    .landing-info {
      .business {
        width: 320px;
      }

      .page-landing {
        .landing-name {
          font-size: 28px;
        }

        .landing-detail {
          width: 300px;
          font-size: 16px;
          text-indent: 1em;
          letter-spacing: 0.5px;
          line-height: 1.6;
        }

        .btn {
          width: 280px;
          height: 45px;
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .pageFull {
    .landing-info {
      display: flex;
      flex-direction: column;
      grid-gap: 5px;

      .business {
        width: 320px;
      }

      .page-landing {
        display: grid;
        justify-items: center;
        grid-gap: 20px;
        z-index: 2;

        .landing-name {
          font-size: 32px;
          font-weight: bold;
          color: #ff4aab;
          margin-top: 10px;
        }

        .landing-detail {
          width: 300px;
          font-size: 16px;
          text-indent: 2em;
          letter-spacing: 0.5px;
          line-height: 1.8;
          color: #4b4b4b;
        }

        .landing-btn {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          grid-gap: 5px;
        }

        .btn-login {
          color: #fff;
          background-color: #fe6bba;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .pageFull {
    .landing-info {
      .business {
        width: 300px;
      }
      .page-landing {
        grid-gap: 10px;

        .landing-name {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .pageFull {
    .landing-info {
      .business {
        width: 270px;
      }
      .page-landing {
        grid-gap: 5px;

        .landing-name {
          font-size: 30px;
        }
      }
    }
  }
}
