<div class="pageFull">
  <img class="business-v6" src="assets/images/business-v2.png">
  <div class="landing-info">
    <img class="business" src="assets/images/business.png">
    <div class="page-landing">
      <p class="landing-name">เทศบาลนครเชียงใหม่</p>
      <p class="landing-detail"> กองทุนสวัสดิการพนักงานและลูกจ้าง เทศบาลนครเชียงใหม่
        ต้องการที่จะพัฒนาโปรแกรมระบบงานกองทุน
        สวัสดิการพนักงานฯ ให้มีประสิทธิ์ภาพทดแทนโปรแกรมระบบงานเดิมที่ใช้มานานรวมทั้งเพื่อพัฒนาระบบงานเพิ่มเติมให้
        สามารถรองรับกับเทคโนโลยีสารสนเทศในปัจจุบันและอนาคตได้ </p>
      <div class="landing-btn">
        <button type="button" class="btn btn-login" (click)="clickLogin()">เข้าสู่ระบบ</button>
        <!-- <button type="button" class="btn btn-regis" routerLinkActive="active"
          routerLink="/register">สมัครสมาชิก</button> -->
      </div>
    </div>
  </div>
</div>