<div class="div-docs">
  <div class="card">
    <p-table responsiveLayout="stack" #dt2 [value]="listDocs" dataKey="id" editMode="row" [rows]="10"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
      selectionMode="single" currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
      [globalFilterFields]="['name']" [tableStyle]="{'max-width': '100%'}">
      <ng-template pTemplate="caption">
        <div class="div-flex-header">
          <p-chip label="การจัดการเอกสารกองทุนฯ" styleClass="mr-2"></p-chip>
          <div class="div-flex-header-body">
            <button type="button" class="btn btn-login" (click)="dialogAddDoc = true">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#DFDFEC"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17.5 17.08H15.65" stroke="#DFDFEC" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M12.97 17.08H6.5" stroke="#DFDFEC" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M17.5 13.3199H11.97" stroke="#DFDFEC" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M9.27 13.3199H6.5" stroke="#DFDFEC" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              เพิ่มเอกสาร</button>
            <span class="p-input-icon-left ml-auto" style="margin-top: 0px;">
              <i class="bi bi-search" style="color: #979797; display: flex;"></i>
              <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                placeholder="ค้นหา" style="width: 10rem; border-radius: 10px; height: 40px; font-size: 14px;" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>วันที่อัพโหลด</th>
          <th>ชื่อเอกสาร</th>
          <th>รูปแบบเอกสาร</th>
          <th>ขนาด</th>
          <th>ลบเอกสาร</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listDocs let-i="rowIndex" let-columns="columns">
        <tr [pEditableRow]="listDocs">
          <td>
            <span class="p-column-title">วันที่อัพโหลด</span>
            <div class="div-full-text">
              <div>{{ pipeDateTHD(listDocs.createDate) }}</div>
              <div style="font-size: 12px; color: #6b7280; font-weight: 300;">เวลา: {{ onTime(listDocs.createDate) }}
              </div>
            </div>
          </td>
          <td>
            <span class="p-column-title">ชื่อเอกสาร</span>{{ listDocs.name }}
          </td>
          <td>
            <span class="p-column-title">รูปแบบเอกสาร</span>
            <div style="display: flex; gap: 10px; cursor: pointer;" (click)="getDoc(listDocs.id)">
              <img class="img-web" src="/assets/images/pdf.png" alt="Image" width="25">
              <span style="font-size: 12px; color: #6b7280; font-weight: 300;">.PDF</span>
            </div>
          </td>
          <td><span>{{ formatFileSize(listDocs.size) }}</span></td>
          <td><span class="p-column-title">แก้ไข</span>
            <button type="button" pInitEditableRow class="btn btn-deleted"
              (click)="onDelete(listDocs.id, listDocs.name)"><svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M21 5.98C17.67 5.65 14.32 5.48 10.98 5.48C9 5.48 7.02 5.58 5.04 5.78L3 5.98" stroke="#FFFFFF"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M18.85 9.14L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14"
                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M10.33 16.5H13.66" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M9.5 12.5H14.5" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              ลบเอกสาร</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">ไม่พบข้อมูลในฐานข้อมูล</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog class="dialog-add-doc" [(visible)]="dialogAddDoc" [modal]="true" [style]="{ width: '25vw'}"
  [breakpoints]="{ '1700px': '30vw','1400px': '35vw','1200px': '40vw','1000px': '50vw','800px': '60vw','650px': '75vw','550px': '85vw','480px': '95vw' }"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span style="font-size: 18px; font-weight: 500; color: #343a40;">เพิ่มเอกสารกองทุนฯ</span>
    <div class="ng-tns-c55-3" (click)="onCancel()">
      <button type="button" pripple=""
        class="p-ripple p-element ng-tns-c55-3 p-dialog-header-icon p-dialog-header-close p-link ng-star-inserted"
        ng-reflect-ng-class="[object Object]" tabindex="-1"><span
          class="p-dialog-header-close-icon ng-tns-c55-3 pi pi-times" ng-reflect-ng-class="pi pi-times"
          style="margin-top: 0px;"></span></button>
    </div>
  </ng-template>
  <div class="div-add" [formGroup]="docModel">
    <div>
      <label class="block">ชื่อเอกสาร</label>
      <input class="form-control" type="text" formControlName="name" required />
    </div>
    <div class="custom-file-upload">
      <label for="newProfilePhoto" class="upload-btn" *ngIf="!selectedFileName">อัพโหลดไฟล์ PDF</label>
      <input type="file" id="newProfilePhoto" accept="application/pdf" (change)="onFileChange($event)"
        *ngIf="!selectedFileName" />

      <div *ngIf="selectedFileName" style="display: flex; gap: 1rem; padding: 1rem; align-items: center;">
        <img class="img-web" src="/assets/images/pdf.png" alt="PDF Image" width="50" />
        <span>{{ selectedFileName }}</span>
      </div>
    </div>

  </div>
  <ng-template pTemplate="footer">
    <div class="footer-button">
      <button type="button" class="btn btn-login2" (click)="onAdd()">ยืนยัน</button>
      <button type="button" class="btn btn-regis2" (click)="onCancel()">ยกเลิก</button>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog #cd [appendTo]="'body'" position="center" [draggable]="false" [dismissableMask]="true"
  [style]="{width: '30vw'}"
  [breakpoints]="{ '1500px': '25vw','1200px': '30vw','900px': '40vw','700px': '50vw','550px': '60vw','450px': '70vw','400px': '90vw' }">
  <ng-template pTemplate="footer">
    <div class="footer-button">
      <button type="button" class="btn btn-login2" (click)="cd.accept()">ยืนยัน</button>
      <button type="button" class="btn btn-regis2" (click)="cd.reject()">ยกเลิก</button>
    </div>
  </ng-template>
</p-confirmDialog>

<p-toast></p-toast>