
<p-blockUI [blocked]="blockedDocument">
    <div style="display: grid; justify-content: center; align-items: center;">
        <!-- <i class="pi pi-lock" style="font-size: 3rem; color: #FFFFFF; text-align: center;"></i> <br>
        <span style="font-size: 2rem; color: #FFFFFF;">ไม่มีการเผยเเพร่เเก่สมาชิก</span> -->
        <p-progressSpinner></p-progressSpinner>
    </div>
</p-blockUI>

<div class="card">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <p-chip label="การจัดการสมาชิก" styleClass="mr-2"></p-chip>
        </div>
        <!-- <div>
            <button type="button" (click)="displayDialog()" class="btn btn-edit" *ngIf="mode">แก้ไข</button>
        </div> -->
        <div class="search" style="display: flex; justify-content: space-between;">
            <input class="form-control search" type="text" placeholder="ค้นหาสมาชิก" aria-label="Search" />
            <svg width="15" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.1848 20.6L14.6738 16.088C11.1558 18.8606 6.08655 18.4109 3.11151 15.0625C0.136414 11.714 0.286499 6.62711 3.4538 3.45985C6.62103 0.292603 11.708 0.142586 15.0564 3.11768C18.4048 6.09278 18.8544 11.162 16.0818 14.68L20.5938 19.191C20.9279 19.5882 20.9027 20.1749 20.5357 20.5419C20.1687 20.9089 19.582 20.9342 19.1848 20.6L19.1848 20.6ZM2.96375 9.44102C2.96375 12.0414 4.52118 14.3899 6.91748 15.4021C9.31378 16.4142 12.0833 15.8933 13.9481 14.0797C13.9677 14.057 13.9868 14.035 14.0078 14.014C14.0287 13.993 14.0508 13.973 14.0728 13.955C16.1074 11.8638 16.4909 8.66951 15.0091 6.15607C13.5272 3.64262 10.5466 2.43175 7.73169 3.19964C4.91681 3.96754 2.96399 6.52424 2.96375 9.44199V9.44102Z"
                    fill="#979797" />
            </svg>
        </div>
    </div>

</div>

<div style="display: flex; justify-content: space-between;">
    <div class="card-2">
        <div>
            <p-chip label="อัตาราดอกเบี้ย (%)" styleClass="mr-2"></p-chip>
        </div>
        <div  class="col-12" style="display: grid; justify-content: center; padding-top: 1rem;">
            <div [formGroup]="formModelInterest" >
                <div class="col-12" style="padding: 1rem;" >
                    <label class="block" style="color: red;">* เมื่อมีการเปลี่ยนเเปลงอัตาราดอกเบี้ย จะมีการคำนวณเงินกู้ใหม่หรืออื่นๆที่มีการเรียกใช้อัตาราดอกเบี้ยทั้งหมด</label>
                </div>
                <div style="display: grid; justify-content: center; padding-top: 2rem;">
                    <label class="block">อัตาราดอกเบี้ย</label>
                    <div style="display: flex;">
                        <p-inputNumber formControlName="interest" inputId="minmaxfraction" mode="decimal"
                        [required]="true"[maxlength]="6" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" [min]="0"></p-inputNumber>
                        <label class="block" style="padding-left: 1rem; padding-top: 1rem;"> % </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="display: flex; padding-top: 3rem; justify-content: flex-end;">
            <button (click)="updateIntereat()" type="button" class="btn btn-login2">บันทึก</button>
             <div style="padding-left: 0.5rem;"></div>
            <button (click)="resetInterst()" type="button" class="btn btn-login2">ยกเลิก</button>
        </div>
    </div>
    <div style="padding-left: 1rem;"></div>
    <div class="card-3">
        <div>
            <p-chip label="รูปภาพลายเซ็น" styleClass="mr-2"></p-chip>
        </div>
        <div  class="col-12" style="display: grid; justify-content: center; padding-top: 1rem;">
            <div style="display: flex;">
                <div  style="padding-left: 1rem;">
                    <div style="display: flex; justify-content: center;">
                        <img id="profilePic1" class="pic1" [src]="imageSrc1" >
                    </div>
                    <div style="text-align: center;">
                        <label class="block">รูปภาพลายเซ็น (ประธานกองทุน)</label>
                    </div>
                    <div style="padding-top: 2rem; ">
                        <button (click)="file1.click()" type="button" class="btn btn-signature1">เปลี่ยนลายเซ็นประธานกองทุน</button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-signature1" icon="pi pi-external-link" (click)="displayBasic1 = true">ดูรูปภาพ</button>
                        <div class="card flex justify-content-center">
                            <p-galleria
                                [value]="images1"
                                [(visible)]="displayBasic1"
                                [responsiveOptions]="responsiveOptions"
                                [containerStyle]="{ 'max-width': '850px' }"
                                [numVisible]="1"
                                [circular]="false"
                                [fullScreen]="true"
                                [showItemNavigators]="false"
                                [showThumbnails]="false"
                            >
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                                </ng-template>
                            </p-galleria>
                        </div>
                        <br>
                        <input #file1 class="uploadProfileInput" type="file" (change)="onConfigPicChange($event,'signature1')"
                        id="newConfigImg1" accept="image/*" style="opacity: 0; width: 50px;" />
                    </div>
                </div>
                <div style="padding-left: 5rem;">
                    <div style="display: flex; justify-content: center;">
                        <img id="profilePic2" class="pic2" [src]="imageSrc2" >
                    </div>
                    <div style="text-align: center;">
                        <label class="block">รูปภาพลายเซ็น (เหรัญญิก)</label>
                    </div>
                    <div style="padding-top: 2rem;">
                        <button (click)="file2.click()" type="button" class="btn btn-signature2">เปลี่ยนลายเซ็นเหรัญญิก</button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-signature1" icon="pi pi-external-link" (click)="displayBasic2 = true">ดูรูปภาพ</button>
                        <div class="card flex justify-content-center">
                            <p-galleria
                                [value]="images2"
                                [(visible)]="displayBasic2"
                                [responsiveOptions]="responsiveOptions"
                                [containerStyle]="{ 'max-width': '850px' }"
                                [numVisible]="1"
                                [circular]="false"
                                [fullScreen]="true"
                                [showItemNavigators]="false"
                                [showThumbnails]="false"
                            >
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                                </ng-template>
                            </p-galleria>
                        </div>
                        <br>
                        <input #file2 class="uploadProfileInput" type="file" (change)="onConfigPicChange($event,'signature2')"
                        id="newConfigImg2" accept="image/*" style="opacity: 0; width: 50px;" />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12" style="display: flex; padding-top: 2rem; justify-content: flex-end;">
            <button (click)="updateIntereat()" type="button" class="btn btn-login2">บันทึก</button>
             <div style="padding-left: 0.5rem;"></div>
            <button (click)="resetInterst()" type="button" class="btn btn-login2">ยกเลิก</button>
        </div> -->
    </div>
</div>

<div class="card">

    <div style="padding-bottom: 2rem;">
        <p-chip label="การจัดการบทบาทสมาชิก" styleClass="mr-2"></p-chip>
    </div>

    <!-- <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true" 
    [sourceStyle]="{ height: '20rem' }" [targetStyle]="{ height: '20rem' }" breakpoint="1400px">
        <ng-template let-product pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <img class="w-4rem shadow-2 flex-shrink-0 border-round" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" alt="{item.name}" />
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ product.name }}</span>
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        <span>{{ product.category }}</span>
                    </div>
                </div>
                <span class="font-bold text-900">{{ '$' + product.price }}</span>
            </div>
        </ng-template>
    </p-pickList> -->

    <p-pickList [source]="sourceEmployeeRole" [target]="targetEmployeeRole" sourceHeader="สมาชิกทั่วไป" targetHeader="ผู้ดูเเลระบบ" 
    [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }" (onMoveToSource)="checkRoleToSource($event)" (onMoveToTarget)="checkRoleToTarget($event)"
    [targetStyle]="{ height: '30rem' }" filterBy="fullName" sourceFilterPlaceholder="ค้นหาชื่อสมาชิก" targetFilterPlaceholder="ค้นหาชื่อสมาชิก" breakpoint="1400px">
        <ng-template let-employee pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <span style="font-size: 16px;">{{ employee.fullName }}</span>
                <span style="padding-left: 1rem;font-size: 16px; color: #fe6bba;">( {{ employee.employeeTypeName ? employee.employeeTypeName : '-' }} )</span>
            </div>
        </ng-template>
    </p-pickList>
</div>

<p-toast></p-toast>

