* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.card {
  border: 5px solid white;
  border-radius: 15px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-top: 10px;
}

.card-2 {
  border: 5px solid white;
  border-radius: 15px;
  width: 40%;
  background-color: white;
  padding: 1rem;
  margin-top: 10px;
}

.card-3 {
  border: 5px solid white;
  border-radius: 15px;
  width: 60%;
  background-color: white;
  padding: 1rem;
  margin-top: 10px;
}

// .guarantee {
//   border: 1px solid #d2d6df;
//   border-radius: 15px;
//   width: 360px;
//   height: 110px;
//   line-height: 35px;
//   margin-top: -10px;

//   img {
//     width: 108px;
//     border-top-left-radius: 15px;
//     border-bottom-left-radius: 15px;
//     background: #ffeef7;
//   }
// }

.btn {
  width: 60px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  margin-top: -5px;
  border-radius: 18px;
}

.btn-edit {
  color: #fe6bba;
  border-color: #fe6bba;
  //   transform: translate(1180px, -50px);
}

.btn-login2 {
  //width: 140px;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  color: #fff;
  background-color: #fe6bba;
}

.btn-regis2 {
  //width: 140px;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  color: #fe6bba;
  border-color: #fe6bba;
  margin-left: 40px;
}

.btn-signature1{
 width: max-content;
 font-weight: 500;
 font-size: 15px;
 height: 40px;
 color: #fff;
 background-color: #fe6bba;
 border-radius: 5px;
}

.btn-signature2{
  width: max-content;
   font-weight: 500;
   font-size: 15px;
   height: 40px;
   color: #fff;
   background-color: #fe6bba;
   border-radius: 5px;
}

input.search {
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  background: #f0f2f2;
  border: 0;
  padding: 0px 25px;
  width: 15rem;
}

::placeholder {
  color: #747d8c;
}

.search svg {
  transform: translate(-30px, 0px);
}

.pic1{
  height: 100px;
}

.pic2{
  height: 100px;
}

