* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
  }  

.card{
    border: 5px solid white;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    padding: 2rem;
    margin-top: 10px;
}

.guarantee{
    border: 1px solid #d2d6df; 
    border-radius: 15px;
    width: 340px;
    height: 110px;
    line-height: 35px;
    margin-top: -10px;

    img{
        width: 108px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: #ffeef7;
    }
}