
<!-- <div [formGroup]="formModel"> -->
    <div class="card">
        <p-chip label="ผู้รับผลประโยชน์" styleClass="mr-2"></p-chip>
        <p style="color: #60646b; margin-top: 20px; margin-left: 10px;">ท่านสามารถแก้ไข หรือเลือกผู้รับผลประโยชน์ใหม่ได้</p>
        <div style="padding-top: 1rem;"></div>
        <div class="col-5" style="display: flex; justify-content: space-between; margin-left: 10px;">
            <div>
                <div class="guarantee" style="display: flex; justify-content: space-between;">
                    <div>
                        <img class="beneficiary_img" src="assets/images/pele.jpg" alt="logo" />
                    </div>
                    <div style="margin-left: 10px; margin-top: 13px;">
                        <label>นายตัวอย่าง ตัวอย่าง</label>
                        <label style="color: #60646b;">เลขสมาชิก: </label><span> 00001</span>
                    </div>
                </div>
            </div>
            <div style="padding-right: 0.5rem;"></div>
            <div>
                <div class="guarantee" style="display: flex; justify-content: space-between;">
                    <div>
                        <img class="beneficiary_img" src="assets/images/pele.jpg" alt="logo" />
                    </div>
                    <div style="margin-left: 10px; margin-top: 13px;">
                        <label>นายตัวอย่าง ตัวอย่าง</label>
                        <label style="color: #60646b;">เลขสมาชิก: </label><span> 00001</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->