<div class="card">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <p-chip label="ผู้รับผลประโยชน์" styleClass="mr-2"></p-chip>
        </div>
        <div>
            <button type="button" (click)="displayDialog()" class="btn btn-edit" *ngIf="mode">แก้ไข</button>
        </div>
    </div>

    <p style="color: #60646b; margin-top: 20px; margin-left: 10px;">ท่านสามารถแก้ไข หรือเลือกผู้รับผลประโยชน์ใหม่ได้</p>
    
    <div [ngClass]="'row row-cols-' + colScreen">
        <div *ngFor="let beneficiary of arrayBeneficiary" style="margin-top: 20px;">
            <div class="guarantee">
                <div>
                    <img src="{{ checkImgProfile(beneficiary?.gender)}}" />
                </div>
                <div class="info-text">
                    <label>{{ beneficiary.prefix }} {{ beneficiary.firstName }} {{ beneficiary.lastName }}</label>
                    <label style="color: #60646b;">ความสัมพันธ์: {{ beneficiary?.relationship || ''}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '40vw' }" [breakpoints]="{ '960px': '90vw' }" [draggable]="false" [resizable]="false"
    styleClass="customDialog">
    <ng-template pTemplate="header">
        <p-chip label="แก้ไขผู้รับผลประโยชน์" styleClass="mr-2"></p-chip>
    </ng-template>

    <!-- <div class="card"> -->
    <p-table [value]="beneficiaryInfo" [(selection)]="selectedProducts" dataKey="id"
        [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>ชื่อ-สกุล</th>
                <th>เพศ</th>
                <th>ความสัมพันธ์</th>
                <th>สถานะผู้รับผลประโยชน์</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-beneficiaryInfo>
            <tr>
                <td>
                    <p-tableCheckbox [value]="beneficiaryInfo"></p-tableCheckbox>
                </td>
                <td>{{beneficiaryInfo.prefix}}{{beneficiaryInfo.firstName}}&nbsp;&nbsp;{{beneficiaryInfo.lastName}}</td>
                <td>{{beneficiaryInfo.gender}}</td>
                <td>{{beneficiaryInfo.relationship}}</td>
                <td>
                    <div style="display: flex; justify-content: center;">
                        <i *ngIf="beneficiaryInfo.active" class="pi pi-check-circle" style="color: #009688; font-size: 1.5rem;"></i>
                        <i *ngIf="!beneficiaryInfo.active" class="pi pi-times-circle" style="color: #e51c23; font-size: 1.5rem;"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-login2" (click)="checkUpdate()">ยืนยัน</button>
        <button type="button" class="btn btn-regis2" (click)="cancelUpdate()">ยกเลิก</button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>