*{
	box-sizing:  border-box;
	font-family: 'Kanit', sans-serif;
}

.login{
    position: absolute;
    width: 1100px;
    height: 600px;
    left: calc(50% - 1100px/2);
    top: calc(50% - 600px/2);

    /* white */
    background: #FFFFFF;
    box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.3);
    border-radius: 50px;
    
}

.card{
    position: absolute;
    width: 500px;
    height: 600px;
    left: 600px;
    top: 0px;
    background: rgba(255, 204, 204, 0.4);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0ch;
}

img{
    position: absolute;
    width: 400px;
    left: calc(50% - 400px/2);
    top: calc(48% - 400px/2);
}

.text{
    margin: 10%;
    margin-top: -50px;
}

h1{
    font-weight: bold;
    margin-top: 100px;
}

span{
    font-weight: normal;
}

.div-text{
    margin-top: 10px;
}

.mb-3{
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

input {
    width: 200px;
    border-color: #ffabd8;
}

::placeholder {
    font-size: 15px;
    color: rgb(175, 174, 174);
    font-weight: normal;
}

.form-control:focus {
    border-color: #FE6BBA;
    box-shadow: 0 0 0 0.2rem rgba(167, 40, 146, 0.25);
} 

.col {
    flex: 0 0 0%;
}

.mb-3 a{
    color: #FE6BBA;
    text-decoration: none;
}

.mb-3 a span{
    margin-left: 235px;
}

.btn{
    width: 425px;
    height: 45px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row{
    width: 540px;
}

.btn-regis {
    color: #fff;
    background-color: #FE6BBA;
    margin-left: 0px;
}
::ng-deep .p-input-icon-right > .p-inputtext {
    width: 200px;
    height: 50px;
    border-color: #ffabd8;
    font-size: 15px;
}

.p-button-outlined {
    border: 1px solid #FE6BBA;
    color: #FE6BBA;
    height: 40px;
}

.p-button-outlined:hover {
    // border: 1px solid #FE6BBA;
    background-color: #FE6BBA;
    color: #fff;
    // height: 40px;
}

.btn-yes {
    color: #fff;
    background-color: #FE6BBA;
    height: 40px;
    font-weight: bold;
    border: none;
}

.custom-toast .row{
    margin-top: 5px;
    margin-left: 0;
}

.custom-toast p {
    font-size: 16px;
}

:host ::ng-deep .p-password input {
    width: 200px;
    height: 50px;
}
