.main{
    padding: 0.5rem;
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    margin-top: 0.5rem;
    align-items: center;
}

.header{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: red;
}