*{
	box-sizing:  border-box;
	font-family: 'Kanit', sans-serif;
}

.register{
    position: absolute;
    width: 1200px;
    height: 700px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 700px/2);

    /* white */
    background: #FFFFFF;
    box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.3);
    border-radius: 50px;
}

.card{
    position: absolute;
    width: 500px;
    height: 700px;
    left: 700px;
    top: 0px;
    background: rgba(255, 204, 204, 0.4);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0ch;
}

img{
    position: absolute;
    width: 400px;
    left: calc(50% - 400px/2);
    top: calc(48% - 400px/2);
}

.text{
    margin-top: 6.5%;
    margin-left: 9%;
}

h1{
    font-weight: bold;
    margin-top: -20px;
}

span{
    font-weight: normal;
}

.text-group{
    margin-top: 35px;
}

.row{
    width: 540px;
}

.mb-3{
    font-weight: bold;
    font-size: 15px;
}

input {
    width: 220px;
    height: 35px;
    font-size: 15px;
    border-color: #ffabd8;
}

.form-control:hover {
    border-color: #f167b1;
}

::ng-deep .p-input-icon-right > .p-inputtext {
    width: 220px;
    height: 35px;
    border-color: #ffabd8;
    font-size: 15px;
    color: #ffabd8;
}

select{
    width: 220px;
    height: 35px;
    font-size: 15px;
    border-color: #ffabd8;
}

hr{
    width: 48%;
    border-top: 2px dashed #8c8b8c;
    margin-top: 5px;
}

.regis-key .row{
    width: 370px;
}

::placeholder {
    font-size: 15px;
    color: rgb(175, 174, 174);
    font-weight: normal;
}

.form-control:focus {
    border-color: #FE6BBA;
    box-shadow: 0 0 0 0.2rem rgba(167, 40, 146, 0.25);
} 

.btn{
    width: 490px;
    height: 45px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-regis {
    color: #fff;
    background-color: #FE6BBA;
    margin-left: 0px;
}