<div [formGroup]="formModel">
<div class="register">
    <div class="text">
        <h1> สมัครเข้าใช้ </h1> 
        <span>กองทุนสวัสดิการพนักงานและลูกจ้าง เทศบาลนครเชียงใหม่.</span>
        <div class="mb-3 div-text">
            <label for="firstName" class="block">ชื่อ</label> <br>
            <input id="firstName" pInputText type="text" formControlName="firstName" required="true"/>
        </div>
        <div class="mb-3">
            <label for="lastName" class="block">นามสกุล</label> <br>
            <input id="lastName" pInputText type="text" formControlName="lastName" required="true"/>
        </div>
        <div class="mb-3">
            <label for="email" class="block">อีเมล</label> <br>
            <input id="email" pInputText type="text" formControlName="email" required="true"/>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="block">หมายเลขโทรศัพท์</label> <br>
            <input id="phoneNumber" pInputText type="text" formControlName="phoneNumber" required="true"/>
        </div>
        <div class="mb-3">
            <label for="userName" class="block">เลขสมาชิก</label> <br>
            <input id="userName" pInputText type="text" formControlName="userName" required="true"/>
        </div>
        <div class="mb-3">
            <label for="password" class="block">รหัสผ่าน</label> <br>
            <!-- <input id="password" pInputText type="text" formControlName="password" required="true"/> -->
            <p-password class="password" formControlName="password" [toggleMask]="true" ></p-password>
        </div>
        <!-- <div class="mb-3">
            <a href="#"><span>ลืมรหัสผ่าน ?</span></a>
        </div> -->
        <div class="mb-3" style="padding-top: 2rem;">
            <button type="button" class="btn btn-regis" (click)="onRegister()">สมัครสมาชิก</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/logo.png" alt="logo" />
    </div>
    <div style="padding: 5rem;"></div>
</div>
</div>


